repos:
- repo: local
  hooks:
    - id: check-branch-name
      name: Check branch name
      entry: ./scripts/githooks/check-branch-name.sh
      language: script
      pass_filenames: false
- repo: local
  hooks:
    - id: scan-secrets
      name: Scan secrets
      entry: env check=staged-changes ./scripts/githooks/scan-secrets.sh
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-file-format
      name: Check file format
      entry: env check=staged-changes ./scripts/githooks/check-file-format.sh
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-markdown-format
      name: Check Markdown format
      entry: env check=staged-changes ./scripts/githooks/check-markdown-format.sh
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: check-english-usage
      name: Check English usage
      entry: env check=staged-changes ./scripts/githooks/check-english-usage.sh
      language: system
      pass_filenames: false
- repo: local
  hooks:
    - id: lint-terraform
      name: Lint Terraform
      entry: ./scripts/githooks/check-terraform-format.sh
      language: script
      pass_filenames: false
- repo: local
  hooks:
  - id: project-make-pre-commit
    name: Run make pre-commit in individual projects
    entry: ./scripts/githooks/check-projects-make-pre-commit.sh
    language: script
    pass_filenames: false
- repo: https://github.com/bridgecrewio/checkov.git
  rev: "a58cc7d" # sha for version 3.2.431
  hooks:
    - id: checkov
      args:
        [--soft-fail, --quiet, --output-file-path, "scans/checkov", --output, sarif]
