# Core testing libraries
pytest==8.3.4                   # Core test library
pytest-bdd==8.1.0               # For BDD-style testing using pytest
playwright==1.50.0              # Playwright for browser automation
jsonschema==4.17.0              # JSON schema validation library (if needed for response validation)
pytest-html==4.1.1              # For generating HTML reports
pytest-metadata==3.1.1         # Adds metadata to the test reports
allure-pytest-bdd==2.13.5          # Allure integration for beautiful test reports
pyyaml==6.0.2                  # For YAML-based configuration management
loguru==0.6.0                  # For better logging management (optional)
boto3==1.34.49                 # AWS SDK for Python
