PROJECT_NAME=ftrs-dos
ENVIRONMENT=dev
WORKSPACE=
COMMIT_HASH=
APIGEE_ENVIRONMENT=internal-dev
SOURCE_DB_HOST="your-source-db-host"
SOURCE_DB_PORT="5432"
SOURCE_DB_NAME="your-source-database"
SOURCE_DB_USER="your-username"
SOURCE_DB_PASSWORD="your-password"

