name: APIM Proxy Cleardown

permissions: {}

on:
  workflow_call:
    inputs:
      environment:
        description: "Defines the Github environment in which to pull environment variables from"
        required: true
        type: string
      workspace:
        description: "Name of the workspace"
        required: true
        type: string
      apim_env:
        description: "APIM environment to cleardown from"
        required: true
        type: string
      api_names:
        description: "JSON array of API names to cleardown"
        required: true
        type: string
      ref:
        description: "The branch, tag or SHA to checkout"
        required: false
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      PROXYGEN_URL:
        description: "Proxygen URL for APIM"
        required: true

jobs:
  cleardown-apim-proxy:
    name: "Cleardown APIM proxy (${{ matrix.api_name }})"
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    strategy:
      fail-fast: false
      matrix:
        api_name: ${{ fromJSON(inputs.api_names) }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}

      - name: "Cleardown proxy"
        uses: ./.github/actions/cleardown-apim-proxy
        with:
          api_name: ${{ matrix.api_name }}
          workspace: ${{ inputs.workspace }}
          environment: ${{ inputs.environment }}
          apim_env: ${{ inputs.apim_env }}
          aws_region: ${{ vars.AWS_REGION }}
          proxygen_url: ${{ secrets.PROXYGEN_URL }}
