name: Cleardown Artefacts

permissions:
      id-token: write
      contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "Defines the Github environment in which to pull environment variables from"
        required: true
        type: string
      workspace:
        description: "Name of the workspace"
        required: true
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 10
        type: number
      artefact_bucket_name:
        description: "The name of the s3 bucket holding domain artefacts"
        required: true
        type: string
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string

jobs:
  cleardown-artefacts:
    name: "Cleardown redundant artefacts"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}

      - name: "Cleardown redundant artefacts"
        uses: ./.github/actions/artefact-cleardown
        with:
          workspace: ${{ inputs.workspace }}
          artefact_bucket_name: ${{ inputs.artefact_bucket_name }}
