name: APIM Proxygen Authentication

permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment to authenticate against (e.g., dev, test, prod)'
        required: true
        type: string
      api_name:
        description: 'Name of the API to access via Proxygen'
        required: true
        type: string
    outputs:
      access_token:
        description: 'Short-lived access token for Proxygen API'
        value: ${{ jobs.get-access-token.outputs.token }}

jobs:
  get-access-token:
    name: Retrieve APIM Access Token
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      token: ${{ steps.get-token.outputs.access_token }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}


      - name: Get APIM Access Token
        id: get-token
        uses: ./.github/actions/authenticate-apim
        with:
          api_name: ${{ inputs.api_name }}
          environment: ${{ inputs.environment }}
          aws_region: ${{ vars.AWS_REGION }}
      - name: Test Token - List Proxy Instances
        env:
          ACCESS_TOKEN: ${{ steps.get-token.outputs.access_token }}
        run: |
          echo "Testing access token by hitting the API via APIM"

          curl --request GET \
          --url https://proxygen.prod.api.platform.nhs.uk/apis/dos-search \
          --header "Authorization: Bearer $ACCESS_TOKEN"
