name: Deploy application infrastructure workflow

permissions: {}
on:
  workflow_call:
    inputs:
      environment:
        description: "The name of the environment to deploy the infrastructure into"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the infrastructure into"
        required: true
        default: "default"
        type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      ref:
        description: >
          "The branch, tag or SHA to to deploy for development or testing purposes.
          Not used for official releases."
        required: false
        type: string
      release_tag:
        description: >
          "The release version tag to deploy (e.g. v1.4.0 or v1.4.0-rc.1).
          Required for release and release-candidate deployments only."
        required: false
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 5
        type: number
      type:
        description: "The type of permissions (e.g., account, app)"
        required: false
        default: "app"
        type: string
      stacks:
        description: "A list of the infrastructure stacks to deploy from the domain. If not supplied, no infrastructure will be deployed"
        required: false
        default: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui', 'app_config', 'athena']"
        type: string
      skip_manual_approval:
        description: "Whether to skip the manual approval step"
        required: false
        default: "false"
        type: string
      skip_manual_approval_environments:
        description: "A comma-separated list of environments where manual approval should be skipped"
        required: false
        default: "dev,test,int"
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      MGMT_ACCOUNT_ID:
        description: "Management AWS account ID for credentials"
        required: true
      SLACK_WEBHOOK_ALARMS_URL:
        description: "Slack webhook URL for alarm notifications"
        required: false
    outputs:
      plan_result:
        description: "The Terraform plan output"
        value: ${{ jobs.plan-application-infrastructure.outputs.plan_result }}
      deploy_status:
        description: "The status of the deployment"
        value: ${{ jobs.deploy_summary.outputs.deploy_status }}

jobs:
  plan-application-infrastructure:
    name: "Plan application infrastructure deployment to ${{ inputs.environment }} "
    concurrency:
      group: "${{ inputs.environment }}-${{ inputs.ref || inputs.workspace}}"
      cancel-in-progress: false
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      stacks: ${{ inputs.stacks }}
      ref: ${{ inputs.ref }}
      release_tag: ${{ inputs.release_tag }}
      action: plan
      type: ${{ inputs.type }}
      workflow_timeout: ${{ inputs.workflow_timeout }}
      download_appconfig_artifact: true
      appconfig_artifact_name: "appconfig_feature_flags"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      SLACK_WEBHOOK_ALARMS_URL: ${{ secrets.SLACK_WEBHOOK_ALARMS_URL }}

  manual-approval-application-infra:
    name: "Manual approval for deployment of application infrastructure to the ${{ inputs.environment }} environment"
    if: needs.plan-application-infrastructure.outputs.plan_result == 'true' && (inputs.skip_manual_approval != 'true' || !contains(format(',{0},', inputs.skip_manual_approval_environments), format(',{0},', inputs.environment)))
    needs:
      - plan-application-infrastructure
    runs-on: ubuntu-latest
    environment: "${{ inputs.environment }}-protected"
    outputs:
      approved: ${{ steps.log-approval.outputs.approved }}
    steps:
      - name: Approval required
        env:
          ENVIRONMENT: ${{ inputs.environment }}
        run: echo "$ENVIRONMENT deployment paused for manual approval. Please approve in the Actions tab."
      - name: Log approval
        id: log-approval
        run: echo "approved=true" >> $GITHUB_OUTPUT

  apply-application-infrastructure:
    name: "Apply application infrastructure deployment to ${{ inputs.environment }}"
    if: always() && needs.plan-application-infrastructure.result == 'success' && (needs.manual-approval-application-infra.result == 'success' || needs.manual-approval-application-infra.result == 'skipped')
    concurrency:
      group: "${{ inputs.environment }}-${{ inputs.ref || inputs.workspace}}"
      cancel-in-progress: false
    needs:
      - plan-application-infrastructure
      - manual-approval-application-infra
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      stacks: ${{ inputs.stacks }}
      ref: ${{ inputs.ref }}
      release_tag: ${{ inputs.release_tag }}
      action: apply
      type: ${{ inputs.type }}
      workflow_timeout: ${{ inputs.workflow_timeout }}
      download_appconfig_artifact: true
      appconfig_artifact_name: "appconfig_feature_flags"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      SLACK_WEBHOOK_ALARMS_URL: ${{ secrets.SLACK_WEBHOOK_ALARMS_URL }}

  deploy_summary:
    name: "Summarise deployment of application infrastructure to ${{ inputs.environment }} environment"
    needs:
      - plan-application-infrastructure
      - manual-approval-application-infra
      - apply-application-infrastructure
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    outputs:
      deploy_status: ${{ steps.deployment_summary.outputs.deploy_status }}
    steps:
      - name: Deployment Summary
        id: deployment_summary
        env:
          MANUAL_APPROVAL_RESULT: ${{ needs.manual-approval-application-infra.result }}
          ENVIRONMENT: ${{ inputs.environment }}
          PLAN_RESULT: ${{ needs.plan-application-infrastructure.outputs.plan_result }}
          APPROVED: ${{ needs.manual-approval-application-infra.outputs.approved }}
          APPLY_RESULT: ${{ needs.apply-application-infrastructure.result }}
        run: |
          if [ "$MANUAL_APPROVAL_RESULT" == 'skipped' ]; then
            echo "Plan identified no changes for application infrastructure in the $ENVIRONMENT environment."
            echo "deploy_status=Success" >> $GITHUB_OUTPUT
          else
            if [ "$PLAN_RESULT" == 'true' ]; then
              if [ "$APPROVED" == 'true' ]; then
                if [ "$APPLY_RESULT" == "success" ]; then
                  echo "Changes APPROVED and successfully APPLIED to application infrastructure in the $ENVIRONMENT environment."
                  echo "deploy_status=Success" >> $GITHUB_OUTPUT
                else
                  echo "Changes APPROVED but were NOT successfully applied to application infrastructure in the $ENVIRONMENT environment."
                  echo "deploy_status=Failed" >> $GITHUB_OUTPUT
                fi
              else
                echo "Planned changes to application infrastructure REJECTED for deployment to the $ENVIRONMENT environment."
                echo "deploy_status=Rejected" >> $GITHUB_OUTPUT
              fi
            fi
          fi
