name: Deploy Infrastructure Workflow

permissions: {}
on:
  workflow_call:
    inputs:
      environment:
        description: "The name of the environment to deploy the infrastructure into"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the infrastructure into"
        required: true
        type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      account_type:
        description: "The type of account based on the environment"
        required: false
        default: "env"
        type: string
      stacks:
        description: "A list of the infrastructure stacks to deploy from the domain. If not supplied, no infrastructure will be deployed"
        required: false
        default: ""
        type: string
      action:
        description: "The type of action to perform with the stack."
        required: false
        default: "plan"
        type: string
      ref:
        description: >
          "The branch, tag or SHA to to deploy for development or testing purposes.
          Not used for official releases."
        required: false
        type: string
      release_tag:
        description: >
          "The release version tag to deploy (e.g. v1.4.0 or v1.4.0-rc.1).
          Required for release and release-candidate deployments only."
        required: false
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 30
        type: number
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
      download_appconfig_artifact:
        description: "Download AppConfig feature flags artifact produced upstream"
        required: false
        default: false
        type: boolean
      appconfig_artifact_name:
        description: "Artifact name for AppConfig feature flags"
        required: false
        default: "appconfig_feature_flags"
        type: string
      toggle_stacks:
        description: "A list of the infrastructure stacks that consume feature toggle outputs"
        required: false
        default: "['read_only_viewer', 'opensearch', 'ui', 'app_config']"
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      MGMT_ACCOUNT_ID:
        description: "Management AWS account ID for credentials"
        required: true
      SLACK_WEBHOOK_ALARMS_URL:
        description: "Slack webhook URL for alarm notifications"
      SPLUNK_COLLECTOR_URL:
        description: "The base url for splunk collector"
        required: false
      SPLUNK_HEC_ENDPOINT:
        description: "The HEC endpoint for splunk"
        required: false
      SPLUNK_HEC_TOKEN:
        description: "The HEC token for splunk"
        required: false
    outputs:
      plan_result:
        description: "The Terraform plan output"
        value: ${{ jobs.deploy-infrastructure.outputs.plan_result }}

jobs:
  deploy-infrastructure:
    name: "Run Terraform ${{ inputs.action }} for ${{ matrix.stack }} deployment"
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    timeout-minutes: ${{ inputs.workflow_timeout }}
    strategy:
      fail-fast: false
      matrix:
        stack: ${{ fromJSON(inputs.stacks) }}
    outputs:
      plan_result: ${{ steps.deploy_stack.outputs.plan_result }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.release_tag || inputs.ref }}

      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Download AppConfig Feature Flags"
        if: ${{ inputs.download_appconfig_artifact == true && contains(fromJSON(inputs.toggle_stacks), matrix.stack) }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.appconfig_artifact_name }}_${{ inputs.workspace == 'default' && inputs.environment || 'workspace' }}
          path: infrastructure/toggles

      - name: "Download Terraform Plan Artifact"
        uses: actions/download-artifact@v7
        if: ${{ inputs.action == 'apply' }}
        with:
          name: ${{ matrix.stack }}_terraform_plan_${{ inputs.account_type }}_${{ inputs.environment }}
          path: ./

      - name: "Run Terraform ${{ inputs.action }} for infrastructure ${{ matrix.stack }} stack"
        id: deploy_stack
        uses: ./.github/actions/action-infrastructure-stack
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          stack: ${{ matrix.stack }}
          action: ${{ inputs.action }}
          project: ${{ inputs.project }}
          release_tag: ${{ inputs.release_tag }}
          mgmt_account_id: ${{ secrets.MGMT_ACCOUNT_ID }}
          slack_webhook_alarms_url: ${{ secrets.SLACK_WEBHOOK_ALARMS_URL }}
          splunk_collector_url: ${{ secrets.SPLUNK_COLLECTOR_URL }}
          splunk_hec_endpoint: ${{ secrets.SPLUNK_HEC_ENDPOINT }}
          splunk_hec_token: ${{ secrets.SPLUNK_HEC_TOKEN }}

      - name: "Upload Terraform Plan Artifact"
        uses: actions/upload-artifact@v6
        if: ${{ inputs.action == 'plan' }}
        with:
          name: ${{ matrix.stack }}_terraform_plan_${{ inputs.account_type }}_${{ inputs.environment }}
          path: ${{ matrix.stack }}.tfplan
