name: APIM Proxygen Authentication

permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment to authenticate against (e.g., dev, test, prod)'
        required: true
        type: string
      domain:
        description: "The name of the domain to deploy from. If not supplied, we will deploy from the domain that has invoked the workflow"
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      workspace:
        description: "The name of the workspace to deploy the application into"
        required: true
        type: string

jobs:
  build-index:
    name: Build index
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app

      - name:  Create OpenSearch Index
        id: create-index
        uses: ./.github/actions/build-open-search-indexes
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          domain: ${{ inputs.domain }}
