name: Deploy Open Search Indexes workflow

permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "The name of the environment to deploy into"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the application into"
        required: true
        type: string
      domain:
        description: "The name of the domain to deploy from. If not supplied, we will deploy from the domain that has invoked the workflow"
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      tag:
        description: "The tag to build and deploy from"
        required: false
        default: ""
        type: string
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
jobs:
  create-index:
    name: Create index
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
