name: Deploy data migration project workflow
run-name: Deploy ${{ inputs.build_type }} - ${{ inputs.name }}
permissions: {}
on:
  workflow_call:
    inputs:
      build_type:
        description: "The type of project to build (service, package)"
        required: true
        type: string
      name:
        description: "The name of the package to build"
        required: true
        type: string
      python_version:
        description: "The version of Python"
        required: true
        type: string
      environment:
        description: "The deployment environment"
        required: true
        type: string
      repo_name:
        description: "The name of the Git repo"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the infrastructure into"
        required: true
        type: string
      ref:
        description: "The branch, tag or SHA to checkout"
        required: false
        type: string
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true

jobs:
  deploy-project:
    name: "Deploy step for ${{ inputs.build_type }} - ${{ inputs.name }}"
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Get directories"
        id: get-directories
        env:
          BUILD_TYPE: ${{ inputs.build_type }}
          NAME: ${{ inputs.name }}
        run: |
          if [[ "$BUILD_TYPE" == "service" ]]; then
            echo "working_directory=services/$NAME" >> $GITHUB_OUTPUT
            echo "build_directory=build/services/$NAME" >> $GITHUB_OUTPUT
          elif [[ "$BUILD_TYPE" == "package" ]]; then
            echo "working_directory=application/packages/$NAME" >> $GITHUB_OUTPUT
            echo "build_directory=build/packages/$NAME" >> $GITHUB_OUTPUT
          else
            echo "Invalid build type: $BUILD_TYPE"
            exit 1
          fi

      - name: "Invoke DMS Replication Tasks"
        run: make invoke-replication-task
        working-directory: ${{ steps.get-directories.outputs.working_directory }}
        env:
          SERVICE: ${{ inputs.name }}
          PACKAGE: ${{ inputs.name }}
          ENVIRONMENT: ${{ inputs.environment }}
          REPO_NAME: ${{ inputs.repo_name }}
          WORKSPACE: ${{ inputs.workspace }}
