name: Deploy frontend project workflow
run-name: Deploy ${{ inputs.build_type }} - ${{ inputs.name }}
permissions: {}
on:
  workflow_call:
    inputs:
      enabled:
        description: "Whether to run the deployment job"
        required: false
        type: string
        default: "true"
      build_type:
        description: "The type of project to build (service, package)"
        required: true
        type: string
      name:
        description: "The name of the package to build"
        required: true
        type: string
      commit_hash:
        description: "The commit hash, set by the CI/CD pipeline workflow"
        required: false
        type: string
      environment:
        description: "The management environment"
        required: true
        type: string
      repo_name:
        description: "The name of the Git repo"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the infrastructure into"
        required: true
        type: string
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
      ref: 
        description: "The branch, tag or SHA to checkout"
        required: false
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true

jobs:
  deploy-project:
    name: "Deploy step for ${{ inputs.build_type }} - ${{ inputs.name }}"
    permissions:
      id-token: write
      contents: read
    if: inputs.enabled == 'true'
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Get directories"
        id: get-directories
        run: |
          if [[ "${{ inputs.build_type }}" == "service" ]]; then
            echo "working_directory=services/${{ inputs.name }}" >> $GITHUB_OUTPUT
            echo "build_directory=build/services/${{ inputs.name }}" >> $GITHUB_OUTPUT
          elif [[ "${{ inputs.build_type }}" == "package" ]]; then
            echo "working_directory=application/packages/${{ inputs.name }}" >> $GITHUB_OUTPUT
            echo "build_directory=build/packages/${{ inputs.name }}" >> $GITHUB_OUTPUT
          else
            echo "Invalid build type: ${{ inputs.build_type }}"
            exit 1
          fi

      - name: "Deploy Project"
        run: make deploy
        working-directory: ${{ steps.get-directories.outputs.working_directory }}
        env:
          SERVICE: ${{ inputs.name }}
          PACKAGE: ${{ inputs.name }}
          COMMIT_HASH: ${{ inputs.commit_hash }}
          ENVIRONMENT: ${{ inputs.environment }}
          REPO_NAME: ${{ inputs.repo_name }}
          WORKSPACE: ${{ inputs.workspace }}
          RELEASE_TAG: ${{ inputs.ref || '' }}

      - name: "Invalidate CloudFront Cache"
        run: make invalidate-cloudfront-cache
        working-directory: ${{ steps.get-directories.outputs.working_directory }}
        env:
          SERVICE: ${{ inputs.name }}
          PACKAGE: ${{ inputs.name }}
          COMMIT_HASH: ${{ inputs.commit_hash }}
          ENVIRONMENT: ${{ inputs.environment }}
          REPO_NAME: ${{ inputs.repo_name }}
          WORKSPACE: ${{ inputs.workspace }}
