name: Deploy application infrastructure workflow

permissions:
      id-token: write
      contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "The name of the environment to deploy the infrastructure into"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to deploy the infrastructure into"
        required: true
        default: "default"
        type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      tag:
        description: "The git tag identifying the timeline in the repository to deploy from"
        required: false
        type: string
      application_tag:
        description: "The application tag identifying the timeline in the repository to deploy from"
        required: false
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 5
        type: number
      commit_hash:
        description: "The commit hash, set by the CI/CD pipeline workflow"
        required: false
        type: string
      type:
        description: "The type of permissions (e.g., account, app)"
        required: false
        default: "app"
        type: string
      stacks:
        description: "A list of the infrastructure stacks to deploy from the domain. If not supplied, no infrastructure will be deployed"
        required: false
        default: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
        type: string
    outputs:
      plan_result:
        description: "The Terraform plan output"
        value: ${{ jobs.plan-application-infrastructure.outputs.plan_result }}
      deploy_status:
        description: "The status of the deployment"
        value: ${{ jobs.deploy_summary.outputs.deploy_status }}


jobs:
  plan-application-infrastructure:
    name: "Plan application infrastructure deployment to ${{ inputs.environment }} "
    concurrency:
      group: "${{ inputs.environment }}-${{ inputs.tag }}"
      cancel-in-progress: false
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      stacks: ${{ inputs.stacks }}
      application_tag: ${{ inputs.application_tag }}
      commit_hash: ${{ inputs.commit_hash }}
      tag: ${{ inputs.tag }}
      action: plan
      type: ${{ inputs.type }}
    secrets: inherit

  manual-approval-application-infra:
    name: "Manual approval for deployment of application to the ${{ inputs.environment }} environment"
    if: ${{ needs.plan-application-infrastructure.outputs.plan_result == 'true' }}
    needs:
      - plan-application-infrastructure
    runs-on: ubuntu-latest
    environment: "${{ inputs.environment }}-protected"
    outputs:
      approved: ${{ steps.log-approval.outputs.approved }}
    steps:
      - name: Approval required
        run: echo "${{ inputs.environment }} deployment paused for manual approval. Please approve in the Actions tab."
      - name: Log approval
        id: log-approval
        run: echo "approved=true" >> $GITHUB_OUTPUT

  apply-application-infrastructure:
    name: "Plan application infrastructure deployment to ${{ inputs.environment }}"
    concurrency:
      group: "${{ inputs.environment }}-${{ inputs.tag || inputs.workspace}}"
      cancel-in-progress: false
    needs:
      - manual-approval-application-infra
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      stacks: ${{ inputs.stacks }}
      application_tag: ${{ inputs.application_tag }}
      commit_hash: ${{ inputs.commit_hash }}
      tag: ${{ inputs.tag }}
      action: apply
      type: ${{ inputs.type }}
    secrets: inherit

  deploy_summary:
    name: "Summarise deployment of application infrastructure to ${{ inputs.environment }} environment"
    needs:
      - plan-application-infrastructure
      - manual-approval-application-infra
      - apply-application-infrastructure
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    steps:
      - name: Deployment Summary
        run: |
          if [ ${{ needs.manual-approval-application-infra.result }} == 'skipped' ]; then
            echo "Plan identified no changes for application infrastructure in the ${{ inputs.environment }} environment."
            echo "deploy_status=Success" >> $GITHUB_OUTPUT
          else
            if [ ${{ needs.plan-application-infrastructure.outputs.plan_result }} == 'true' ]; then
              if [ ${{ needs.manual-approval-application-infra.outputs.approved }} == 'true' ]; then
                if [ "${{ needs.apply-application-infrastructure.result }}" == "success" ]; then
                  echo "Changes APPROVED and successfully APPLIED to application infrastructure in the ${{ inputs.environment }} environment."
                  echo "deploy_status=Success" >> $GITHUB_OUTPUT
                else
                  echo "Changes APPROVED but were NOT successfully applied to application infrastructure in the ${{ inputs.environment }} environment."
                  echo "deploy_status=Failed" >> $GITHUB_OUTPUT
                fi
              else
                echo "Planned changes to application infrastructure REJECTED for deployment to the ${{ inputs.environment }} environment."
                echo "deploy_status=Rejected" >> $GITHUB_OUTPUT
              fi
            fi
          fi
