name: Cleardown Infrastructure

permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "Defines the Github environment in which to pull environment variables from"
        required: true
        type: string
      workspace:
        description: "Name of the workspace"
        required: true
        type: string
      project:
        description: "The project - eg dos or cm."
        required: false
        default: "dos"
        type: string
      stacks:
        description: "Name of the stacks"
        required: false
        type: string
        default: "['database','crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui', 'app_config']"
      ref:
        description: "The branch, tag or SHA to checkout for cleardown"
        required: false
        type: string
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 10
        type: number
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
      release_tag:
        description: "The release candidate tag"
        required: false
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      MGMT_ACCOUNT_ID:
        description: "Management AWS account ID for credentials"
        required: true

jobs:
  prepare-toggles-artifacts:
    name: "Prepare Toggle artifacts"
    uses: ./.github/workflows/prepare-toggle-artifacts.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      ref: ${{ inputs.ref }}

  destroy-application-infrastructure:
    needs: prepare-toggles-artifacts
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      project: ${{ inputs.project }}
      ref: ${{ inputs.ref }}
      workflow_timeout: ${{ inputs.workflow_timeout }}
      action: destroy
      type: ${{ inputs.type }}
      release_tag: ${{ inputs.release_tag }}
      download_appconfig_artifact: true
      appconfig_artifact_name: "appconfig_feature_flags"
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      SLACK_WEBHOOK_ALARMS_URL: ${{ secrets.SLACK_WEBHOOK_ALARMS_URL }}

  destroy-toggle-infrastructure:
    needs: 
      - prepare-toggles-artifacts
      - destroy-application-infrastructure
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: ${{ inputs.workspace }}
      project: ${{ inputs.project }}
      ref: ${{ inputs.ref }}
      workflow_timeout: ${{ inputs.workflow_timeout }}
      action: destroy
      type: ${{ inputs.type }}
      release_tag: ${{ inputs.release_tag }}
      download_appconfig_artifact: true
      appconfig_artifact_name: "appconfig_feature_flags"
      stacks: "['app_config']"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      SLACK_WEBHOOK_ALARMS_URL: ${{ secrets.SLACK_WEBHOOK_ALARMS_URL }}

  cleardown-os-policies:
    name: "Cleardown OpenSearch Network Policies"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    if: contains(inputs.stacks, 'opensearch')
    strategy:
      matrix:
        stack: ${{ fromJSON(inputs.stacks) }}
    steps:
      - name: "Checkout code"
        if: ${{ matrix.stack == 'opensearch' }}
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        if: ${{ matrix.stack == 'opensearch' }}
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Check and delete OpenSearch network policies"
        id: cleanup_osis
        if: ${{ matrix.stack == 'opensearch' }}
        uses: ./.github/actions/cleardown-opensearch-network-policy
        with:
          workspace: ${{ inputs.workspace }}
          stack: ${{ matrix.stack }}

  delete-tf-state:
    name: "Delete terraform state file"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    strategy:
      matrix:
        stack: ${{ fromJSON(inputs.stacks) }}
    needs:
      - destroy-toggle-infrastructure
      - destroy-application-infrastructure
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Delete terraform state file"
        id: delete_tf_state
        uses: ./.github/actions/cleardown-tf-state
        with:
          workspace: ${{ inputs.workspace }}
          environment: ${{ inputs.environment }}
          stack: ${{ matrix.stack }}

  check-tf-state:
    name: "Check state files cleared down"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    needs:
      - delete-tf-state
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS Credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Check terraform state file"
        id: check_tf_state
        uses: ./.github/actions/check-tf-state
        with:
          workspace: ${{ inputs.workspace }}
          environment: ${{ inputs.environment }}
          stack: ${{ matrix.stack }}
