name: Performance Test Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      download_performance_config:
        description: "Whether to download the performance config from S3"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      generate_certificates_and_keys:
        description: "Whether to generate new certificates and keys for the performance test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      endpoint_type:
        description: "Specify the endpoint type for the performance test"
        required: false
        default: "gateway"
        type: choice
        options:
          - gateway
          - proxy
      test_type:
        description: "The type of performance test to run"
        required: false
        default: "smoke"
        type: choice
        options:
          - smoke
          - load
          - stress
      environment:
        description: "Specify the environment to the performance test against"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      workspace:
        description: "Workspace identifier"
        required: true
        type: string
        default: "default"
      num_threads:
        description: "Number of threads for the performance test (overrides defaults for test type)"
        required: false
        type: string
      ramp_time:
        description: "Ramp time for the performance test (overrides defaults for test type)"
        required: false
        type: string
      startup_delay:
        description: "Startup delay for the performance test (overrides defaults for test type)"
        required: false
        type: string
      duration:
        description: "Duration of the performance test (overrides defaults for test type)"
        required: false
        type: string
      throughput:
        description: "Throughput (or Throughput Step) of the performance test (overrides defaults for test type)"
        required: false
        type: string
      throughput_period:
        description: "Throughput Period (or Step Duration) of the performance test (overrides defaults for test type)"
        required: false
        type: string

permissions:
  contents: read
  id-token: write

jobs:

  run_performance_test:
    name: "Run performance test"
    timeout-minutes: 15
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Validate Inputs"
        shell: bash
        env:
          ENDPOINT_TYPE: ${{ inputs.endpoint_type }}
          TEST_TYPE: ${{ inputs.test_type }}
        run: |
          if [[ "$ENDPOINT_TYPE" == "proxy" && "$TEST_TYPE" != "smoke" ]]; then
            echo "Invalid combination of endpoint_type and test_type. Must be 'smoke' for proxy endpoint type."
            exit 1
          fi

      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Derive Test Parameters"
        id: derive-params
        shell: bash
        env:
          TEST_TYPE: ${{ inputs.test_type }}
          NUM_THREADS: ${{ inputs.num_threads }}
          RAMP_TIME: ${{ inputs.ramp_time }}
          STARTUP_DELAY: ${{ inputs.startup_delay }}
          DURATION: ${{ inputs.duration }}
          THROUGHPUT: ${{ inputs.throughput }}
          THROUGHPUT_PERIOD: ${{ inputs.throughput_period }}
        run: |
          case "$TEST_TYPE" in
            "smoke")
              NUM_THREADS="${NUM_THREADS:-10}"
              RAMP_TIME="${RAMP_TIME:-1}"
              STARTUP_DELAY="${STARTUP_DELAY:-10}"
              DURATION="${DURATION:-20}"
              THROUGHPUT=${THROUGHPUT:-10}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-60}
              ;;
            "load")
              NUM_THREADS=${NUM_THREADS:-100}
              RAMP_TIME=${RAMP_TIME:-1}
              STARTUP_DELAY=${STARTUP_DELAY:-10}
              DURATION=${DURATION:-3660}
              THROUGHPUT=${THROUGHPUT:-9000}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-60}
              ;;
            "stress")
              NUM_THREADS=${NUM_THREADS:-10}
              RAMP_TIME=${RAMP_TIME:-1}
              STARTUP_DELAY=${STARTUP_DELAY:-10}
              DURATION=${DURATION:-70}
              THROUGHPUT=${THROUGHPUT:-1}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-5}
              ;;
            *)
              echo "Invalid test type: $TEST_TYPE"
              exit 1
              ;;
          esac

          echo "num_threads=$NUM_THREADS"
          echo "ramp_time=$RAMP_TIME"
          echo "startup_delay=$STARTUP_DELAY"
          echo "duration=$DURATION"
          echo "throughput/throughput_step=$THROUGHPUT"
          echo "throughput_period/step_duration=$THROUGHPUT_PERIOD"

          echo "num_threads=$NUM_THREADS" >> $GITHUB_OUTPUT
          echo "ramp_time=$RAMP_TIME" >> $GITHUB_OUTPUT
          echo "startup_delay=$STARTUP_DELAY" >> $GITHUB_OUTPUT
          echo "duration=$DURATION" >> $GITHUB_OUTPUT
          echo "throughput=$THROUGHPUT" >> $GITHUB_OUTPUT
          echo "throughput_period=$THROUGHPUT_PERIOD" >> $GITHUB_OUTPUT

      - name: "Derive Endpoint URL"
        id: derive-endpoint
        shell: bash
        env:
          WORKSPACE: ${{ inputs.workspace }}
          ENVIRONMENT: ${{ inputs.environment }}
          ENDPOINT_TYPE: ${{ inputs.endpoint_type }}
        run: |
          if [ "$ENDPOINT_TYPE" == "gateway" ]; then
            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="dos-search.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            else
              ENDPOINT="dos-search-$WORKSPACE.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            fi
          else
            declare -A APIM_ENVS
            APIM_ENVS["dev"]="internal-dev"
            APIM_ENVS["test"]="internal-qa"
            APIM_ENVS["int"]="int"

            APIM_ENV=${APIM_ENVS[$ENVIRONMENT]}

            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search/FHIR/R4"
            else
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search-$WORKSPACE/FHIR/R4"
            fi
          fi
          echo "endpoint=$ENDPOINT" >> $GITHUB_OUTPUT
          echo "apim_env=$APIM_ENV" >> $GITHUB_OUTPUT

      - name: "Configure AWS credentials"
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
          ENVIRONMENT: ${{ inputs.environment }}
          ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: $ACCOUNT_ID
          aws_region: $AWS_REGION
          type: app
          environment: $ENVIRONMENT

      - name: "Lookup EC2 instance ID"
        id: lookup-ec2-instance-id
        env:
          EC2_NAME_TAG: "ftrs-directory-of-services-${{ inputs.environment }}-performance"
        uses: ./.github/actions/ec2-lookup-instance-id
        with:
          ec2-name-tag: $EC2_NAME_TAG

      - name: "Start EC2 performance instance"
        id: ec2-start
        env:
          EC2_INSTANCE_ID: ${{ steps.lookup-ec2-instance-id.outputs.ec2-instance-id }}
        uses: ./.github/actions/ec2-start
        with:
          ec2-instance-id: $EC2_INSTANCE_ID

      - name: "Check for running performance test on EC2 instance"
        id: check-perf-test-running
        env:
          EC2_INSTANCE_ID: ${{ steps.ec2-start.outputs.ec2-instance-id }}
          FAIL_ON_LOCK_FILE: "true"
        uses: ./.github/actions/ec2-check-perf-test-running
        with:
          ec2-instance-id: $EC2_INSTANCE_ID
          fail-on-lock-file: ${FAIL_ON_LOCK_FILE}

      - name: "Download performance config"
        if: inputs.download_performance_config == 'true'
        env:
          EC2_INSTANCE_ID: ${{ steps.ec2-start.outputs.ec2-instance-id }}
          ENVIRONMENT: ${{ inputs.environment }}
        uses: ./.github/actions/ec2-download-performance-config
        with:
          environment: $ENVIRONMENT
          ec2-instance-id: ${EC2_INSTANCE_ID}

      - name: "Generate certificates and keys"
        if: inputs.generate_certificates_and_keys == 'true'
        env:
          EC2_INSTANCE_ID: ${{ steps.ec2-start.outputs.ec2-instance-id }}
          ENVIRONMENT: ${{ inputs.environment }}
        uses: ./.github/actions/ec2-generate-certificates-and-keys
        with:
          environment: $ENVIRONMENT
          ec2-instance-id: $EC2_INSTANCE_ID

      - name: "Start CloudWatch agent"
        env:
          EC2_INSTANCE_ID: ${{ steps.ec2-start.outputs.ec2-instance-id }}
        uses: ./.github/actions/ec2-start-cloudwatch-agent
        with:
          ec2-instance-id: $EC2_INSTANCE_ID

      - name: "Run performance test"
        env:
          EC2_INSTANCE_ID: ${{ steps.ec2-start.outputs.ec2-instance-id }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          ENVIRONMENT: ${{ inputs.environment }}
          APIM_ENV: ${{ steps.derive-endpoint.outputs.apim_env }}
          ENDPOINT_TYPE: ${{ inputs.endpoint_type }}
          TEST_TYPE: ${{ inputs.test_type }}
          ENDPOINT: ${{ steps.derive-endpoint.outputs.endpoint }}
          WORKSPACE: ${{ inputs.workspace }}
          NUM_THREADS: ${{ steps.derive-params.outputs.num_threads }}
          RAMP_TIME: ${{ steps.derive-params.outputs.ramp_time }}
          STARTUP_DELAY: ${{ steps.derive-params.outputs.startup_delay }}
          DURATION: ${{ steps.derive-params.outputs.duration }}
          THROUGHPUT: ${{ steps.derive-params.outputs.throughput }}
          THROUGHPUT_PERIOD: ${{ steps.derive-params.outputs.throughput_period }}
        uses: ./.github/actions/run-performance-test
        with:
          ec2-instance-id: $EC2_INSTANCE_ID
          aws-region: $AWS_REGION
          environment: $ENVIRONMENT
          apim-env: $APIM_ENV
          endpoint-type: $ENDPOINT_TYPE
          test-type: $TEST_TYPE
          endpoint: $ENDPOINT
          workspace: $WORKSPACE
          num-threads: $NUM_THREADS
          ramp-time: $RAMP_TIME
          startup-delay: $STARTUP_DELAY
          duration: $DURATION
          throughput: $THROUGHPUT
          throughput-period: $THROUGHPUT_PERIOD
          performance-results-bucket: ftrs-dos-$ENVIRONMENT-account-wide-is-performance-files-bucket
