name: Deploy Release Pipeline
# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      release_tag:
        description: "Specify the release tag to be used for deployment (e.g. v1.1.0)"
        required: true
        type: string
      environment:
        description: "Specify the environment to deploy the release to"
        required: true
        type: choice
        options:
          - test
          - int
          - ref
          - prod

permissions:
  contents: write
  id-token: write

jobs:
  validate-release-tag:
    name: "Check format of input release tag"
    runs-on: ubuntu-latest
    steps:
      - name: "Validate release tag"
        id: validate
        run: |
          RELEASE_TAG="${{ inputs.release_tag }}"
          if [[ ! $RELEASE_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid release tag format: $RELEASE_TAG"
            exit 1
          else
            echo "Release tag format is valid: $RELEASE_TAG"
          fi

  metadata:
    name: "Get CI/CD metadata"
    needs:
      - validate-release-tag
    uses: ./.github/workflows/metadata.yaml
    with:
      ref: ${{ inputs.release_tag }}

  deploy-account-wide-policies:
    name: "Deploy infrastructure policies for release candidate ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - metadata
    uses: ./.github/workflows/pipeline-deploy-policies.yaml
    with:
      environment: ${{ inputs.environment }}
      ref: ${{ inputs.release_tag }}
    secrets: inherit

  deploy-account-wide-infrastructure:
    name: "Deploy account wide infrastructure for release ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - metadata
      - deploy-account-wide-policies
    uses: ./.github/workflows/pipeline-deploy-account-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      ref: ${{ inputs.release_tag }}
    secrets: inherit

  prepare-toggle-artifacts:
    name: "Prepare Toggle artifacts"
    needs:
      - metadata
      - promote-release-candidate
    uses: ./.github/workflows/prepare-toggle-artifacts.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: default
      ref: ${{ inputs.ref }}

  deploy-application-infrastructure:
    name: "Deploy application infrastructure for release ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - validate-release-tag
      - deploy-account-wide-infrastructure
      - prepare-toggle-artifacts
    uses: ./.github/workflows/deploy-application-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: default
      release_tag: ${{ inputs.release_tag }}
      ref: ${{ inputs.release_tag }}
      workflow_timeout: 30
    secrets: inherit

  check-stack-toggles:
    name: "Check stack toggles for ${{ needs.metadata.outputs.environment }}"
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/check-stack-toggles.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: "rc"
      ref: ${{ inputs.ref }}

  deploy-ui:
    name: "Deploy dos-ui to ${{ needs.metadata.outputs.environment }}"
    if: needs.check-stack-toggles.outputs.ui_enabled == 'true'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-dos-ui-${{ needs.tag-release.outputs.release_tag }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
      - check-stack-toggles
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: "dos-ui"
      build_type: "service"
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: default
      type: "app"
      ref: ${{ needs.tag-release.outputs.release_tag }}
    secrets: inherit

  deploy-read-only-viewer:
    name: "Deploy read-only-viewer to ${{ needs.metadata.outputs.environment }}"
    if: needs.check-stack-toggles.outputs.read_only_viewer_enabled == 'true'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-read-only-viewer-${{ needs.tag-release.outputs.release_tag }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
      - check-stack-toggles
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: "read-only-viewer"
      build_type: "service"
      environment: ${{ inputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: default
      type: "app"
      ref: ${{ inputs.release_tag }}
    secrets: inherit

  service-automation-tests:
    name: "Run service automation tests on ${{ inputs.environment }}"
    needs:
      - metadata
      - deploy-application-infrastructure
      - deploy-ui
      - deploy-read-only-viewer
    if: |
      always() &&
      ${{ inputs.environment != 'prod' }} &&
      !cancelled() &&
      (
        needs.restore-dynamodb-from-s3.result == 'success' ||
        (
          needs.restore-dynamodb-from-s3.result == 'skipped' &&
          (needs.export-dynamodb-to-s3.result == 'success' || needs.deploy-application-infrastructure.result == 'success')
        )
      )
    uses: ./.github/workflows/service-automation-test.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: default
      ref: ${{ inputs.release_tag }}
      test_tag: "ftrs-pipeline"
      test_type: "api"
      type: app
      deployment_type: "release"
    secrets: inherit

  check-pipeline-status:
    name: "Check Pipeline Status"
    needs:
      - validate-release-tag
      - metadata
      - prepare-toggle-artifacts
      - deploy-account-wide-policies
      - deploy-account-wide-infrastructure
      - deploy-application-infrastructure
      - check-stack-toggles
      - deploy-ui
      - deploy-read-only-viewer
      - service-automation-tests
    if: always()
    uses: ./.github/workflows/pipeline-status-check.yaml

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - validate-release-tag
      - metadata
      - prepare-toggle-artifacts
      - deploy-account-wide-policies
      - deploy-account-wide-infrastructure
      - deploy-application-infrastructure
      - check-stack-toggles
      - deploy-ui
      - deploy-read-only-viewer
      - service-automation-tests
      - check-pipeline-status
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ inputs.environment }}
    secrets: inherit
