name: Pipeline outcome check

permissions: {}
on:
  workflow_call:


jobs:
  check-pipeline-status:
    name: "Check Pipeline Status"
    runs-on: ubuntu-latest
    steps:
    - uses: martialonline/workflow-status@699912c8c561f134cbfc244bce5548e5fd64d48e # v4
      id: check

    - name: "Debug Info"
      env:
        JOB_STATUS: ${{ job.status }}
        EVENT_NAME: ${{ github.event_name }}
        WORKFLOW_RUN: ${{ toJson(github.event.workflow_run) }}
        WORKFLOW_CONCLUSION: ${{ github.event.workflow_run.conclusion }}
        ACTOR: ${{ github.actor }}
        PR_URL: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}
        CHECK_STATUS: ${{ steps.check.outputs.status }}
      run: |
        echo "Job Status: $JOB_STATUS"
        echo "GitHub Event: $EVENT_NAME"
        echo "Workflow Run: $WORKFLOW_RUN"
        echo "Workflow Status: $WORKFLOW_CONCLUSION"
        echo "GitHub Actor: $ACTOR"
        echo "Pull Request URL: $PR_URL"
        echo "Status: $CHECK_STATUS"

    - name: "Fail if workflow not completed successfully"
      if: ${{ steps.check.outputs.status != 'success' }}
      env:
        RUN_ID: ${{ github.run_id }}
      run: |
        echo "Workflow not completed successfully."
        echo "Run ID: $RUN_ID"
        exit 1

