name: Application Deployment Pipeline

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - main
      - "task/**"
      - "dependabot/**"
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      tag:
        description: "Specify the Git tag to be used for deployment (e.g. v1.1.0-pre.1)"
        required: false
        type: string
      environment:
        description: "Deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - sandpit
          - int
          - ref
          - prod

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml
    with:
      tag: ${{ inputs.tag }}

  quality-checks:
    name: "Quality checks for ${{ needs.metadata.outputs.environment }} deployment"
    needs:
      - metadata
    uses: ./.github/workflows/quality-checks.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      type: app
      build_timestamp: ${{ needs.metadata.outputs.build_timestamp }}
      tag: ${{ inputs.tag }}
    secrets: inherit

  build-services:
    name: "Build ${{ matrix.name }}"
    needs:
      - metadata
      - quality-checks
    strategy:
      matrix:
        include:
          - name: "python"
            build_type: "package"
          - name: "crud-apis"
            build_type: "service"
          - name: "data-migration"
            build_type: "service"
          - name: "read-only-viewer"
            build_type: "service"
          - name: "etl-ods"
            build_type: "service"
          - name: "dos-search"
            build_type: "service"
          - name: "dos-ui"
            build_type: "service"
    uses: ./.github/workflows/build-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: ${{ matrix.build_type }}
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.mgmt_environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      type: app
      tag: ${{ inputs.tag }}
    secrets: inherit

  build-sandbox-containers:
    name: "Build container ${{ matrix.name }}"
    needs:
      - metadata
      - quality-checks
    strategy:
      matrix:
        include:
          - name: "sandbox-dos-search"
    uses: ./.github/workflows/build-sandbox-images.yaml
    with:
      name: ${{ matrix.name }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      tag: ${{ inputs.tag }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  perform-code-analysis:
    name: "Perform static code analysis"
    needs:
      - metadata
      - build-services
    uses: ./.github/workflows/static-code-analysis.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      tag: ${{ inputs.tag }}
    secrets: inherit

  deploy-application-infrastructure:
    name: "Deploy application infrastructure to the ${{ needs.metadata.outputs.environment }} environment"
    needs:
      - metadata
      - build-services
      - perform-code-analysis
    uses: ./.github/workflows/deploy-application-infrastructure.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      tag: ${{ inputs.tag }}
      workflow_timeout: 30
    secrets: inherit

  deploy-proxy-to-apim:
    name: "Deploy ${{ matrix.api_name }} API to Proxygen"
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/authenticate-and-deploy-to-apim.yaml
    strategy:
      matrix:
        api_name:
          - dos-search
          # Add more API names here as needed
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      api_name: ${{ matrix.api_name }}
      apim_env: ${{ needs.metadata.outputs.environment == 'dev' && 'internal-dev' || needs.metadata.outputs.environment == 'test' && 'internal-qa' || needs.metadata.outputs.environment }}
      tag: ${{ inputs.tag }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  # TODO : FTRS-1899 Re-enable data migration step once ETL process is stable
  # migrate-data:
  #   name: "Run ETL process in ${{ needs.metadata.outputs.environment }}"
  #   if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
  #   concurrency:
  #     group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
  #     cancel-in-progress: false
  #   needs:
  #     - metadata
  #     - deploy-application-infrastructure
  #   uses: ./.github/workflows/migrate-data.yaml
  #   with:
  #     environment: ${{ needs.metadata.outputs.environment }}
  #     function_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-queue-populator-lambda"
  #     queue_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-dms-events"
  #     type: app
  #     tag: ${{ inputs.tag }}
  #   secrets: inherit

  export-dynamodb-to-s3:
    name: "Export DynamoDB tables to S3 in ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
      # - migrate-data
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      type: app
      action: export
      tag: ${{ inputs.tag }}
    secrets: inherit

  restore-dynamodb-from-s3:
    name: "Restore data from S3 to DynamoDB tables in ${{ needs.metadata.outputs.workspace }}"
    if: needs.metadata.outputs.workspace != 'default' && needs.metadata.outputs.environment != 'prod'
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      action: import
      type: app
      tag: ${{ inputs.tag }}
    secrets: inherit

  deploy-open-search-indexes:
    name: "Deploy OpenSearch indexes to ${{ needs.metadata.outputs.environment }}"
    if: false
    needs:
      - metadata
      - deploy-application-infrastructure
      - restore-dynamodb-from-s3
    uses: ./.github/workflows/deploy-open-search-indexes.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets: inherit

  deploy-frontend-services:
    name: "Deploy ${{ matrix.name }} to ${{ needs.metadata.outputs.environment }}"
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}-${{ matrix.name }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
    strategy:
      matrix:
        include:
          - name: "dos-ui"
          - name: "read-only-viewer"
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: "service"
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      type: "app"
      tag: ${{ inputs.tag }}
    secrets: inherit

  deploy-data-migration-service:
    name: "Deploy data migration service to ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-data-migration-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/deploy-data-migration-project.yaml
    with:
      name: "data-migration"
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      type: "app"
      tag: ${{ inputs.tag }}
    secrets: inherit

  service-automation-tests:
    name: "Run service automation tests on ${{ needs.metadata.outputs.environment }}"
    needs:
      - metadata
      - deploy-application-infrastructure
      - restore-dynamodb-from-s3
      - export-dynamodb-to-s3
    if: |
      always() &&
      !cancelled() &&
      (
        needs.restore-dynamodb-from-s3.result == 'success' ||
        (
          needs.restore-dynamodb-from-s3.result == 'skipped' &&
          (needs.export-dynamodb-to-s3.result == 'success' || needs.deploy-application-infrastructure.result == 'success')
        )
      )
    uses: ./.github/workflows/service-automation-test.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      tag: ${{ inputs.tag }}
      test_tag: "ftrs-pipeline"
      test_type: "api"
      type: app
      deployment_type: "development"
    secrets: inherit

  generate-prerelease:
    name: "Generate prerelease tag"
    needs:
      - deploy-frontend-services
      - service-automation-tests
    if: >
      always() &&
      github.event_name == 'push' &&
      github.ref == 'refs/heads/main' &&
      needs.deploy-frontend-services.result == 'success' &&
      needs.service-automation-tests.result == 'success'
    uses: ./.github/workflows/generate-prerelease.yaml
    secrets: inherit

  stage-prerelease-artefacts:
    name: "Stage ${{ matrix.name }} artefacts for prerelease ${{ needs.generate-prerelease.outputs.prerelease_tag }}"
    needs:
      - metadata
      - generate-prerelease
    uses: ./.github/workflows/promote-artefacts.yaml
    with:
      repo_name: ${{ needs.metadata.outputs.reponame }}
      artefact_promotion_type: "stage"
      type: app
      prerelease_tag: ${{ needs.generate-prerelease.outputs.prerelease_tag }}
    secrets: inherit

  check-pipeline-status:
    name: "Check Pipeline Status"
    needs:
      - deploy-frontend-services
      - deploy-data-migration-service
      - service-automation-tests
      - export-dynamodb-to-s3
      - stage-prerelease-artefacts
    if: always()
    uses: ./.github/workflows/pipeline-status-check.yaml

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - quality-checks
      - build-services
      - deploy-application-infrastructure
      # - migrate-data
      - export-dynamodb-to-s3
      - restore-dynamodb-from-s3
      - deploy-frontend-services
      - deploy-data-migration-service
      - service-automation-tests
      - generate-prerelease
      - stage-prerelease-artefacts
      - check-pipeline-status
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets: inherit
