name: Performance Test Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      endpoint_type:
        description: "Specify the endpoint type for the performance test"
        required: false
        default: "gateway"
        type: choice
        options:
          - gateway
          - proxy
      test_type:
        description: "The type of performance test to run"
        required: false
        default: "smoke"
        type: choice
        options:
          - smoke
          - load
          - stress
          - soak
      environment:
        description: "Specify the environment to the performance test against"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      ref:
        description: "The branch, tag or SHA to to test against"
        required: false
        type: string
        default: "dos-search-ftrs-893.dev.ftrs.cloud.nhs.uk"

permissions:
  contents: read
  id-token: write

jobs:

  run_performance_test:
    name: "Run performance test"
    timeout-minutes: 15
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}

      - name: "Start EC2 performance instance"
        id: start-ec2
        uses: ./.github/actions/start-ec2
        with:
          ec2-name-tag: "ftrs-directory-of-services-${{ inputs.environment }}-performance"

      - name: "Run performance test (Gateway)"
        if: ${{ inputs.endpoint_type == 'gateway' }}
        uses: ./.github/actions/run-performance-test-gateway
        with:
          ec2-instance-id: ${{ steps.start-ec2.outputs.ec2-instance-id }}
          aws_region: ${{ vars.AWS_REGION }}
          environment: ${{ inputs.environment }}
          endpoint: ${{ inputs.endpoint }}

