name: Performance Test Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      download_performance_config:
        description: "Whether to download the performance config from S3"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      generate_certificates_and_keys:
        description: "Whether to generate new certificates and keys for the performance test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      endpoint_type:
        description: "Specify the endpoint type for the performance test"
        required: false
        default: "gateway"
        type: choice
        options:
          - gateway
          - proxy
      test_type:
        description: "The type of performance test to run"
        required: false
        default: "smoke"
        type: choice
        options:
          - smoke
          - load
          - stress
      environment:
        description: "Specify the environment to the performance test against"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      workspace:
        description: "Workspace identifier"
        required: true
        type: string
        default: "default"
      stop_instance:
        description: "Whether to stop the EC2 instance after the test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"
      num_threads:
        description: "Number of threads for the performance test (overrides defaults for test type)"
        required: false
        type: string
      ramp_time:
        description: "Ramp time for the performance test (overrides defaults for test type)"
        required: false
        type: string
      startup_delay:
        description: "Startup delay for the performance test (overrides defaults for test type)"
        required: false
        type: string
      duration:
        description: "Duration of the performance test (overrides defaults for test type)"
        required: false
        type: string
      throughput:
        description: "Throughput (or Throughput Step) of the performance test (overrides defaults for test type)"
        required: false
        type: string
      throughput_period:
        description: "Throughput Period (or Step Duration) of the performance test (overrides defaults for test type)"
        required: false
        type: string

permissions:
  contents: read
  id-token: write

jobs:

  run_performance_test:
    name: "Run performance test"
    timeout-minutes: 15
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Validate Inputs"
        shell: bash
        run: |
          if [[ "${{ inputs.endpoint_type }}" == "proxy" && "${{ inputs.test_type }}" != "smoke" ]]; then
            echo "Invalid combination of endpoint_type and test_type. Must be 'smoke' for proxy endpoint type."
            exit 1
          fi

      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Derive Test Parameters"
        id: derive-params
        shell: bash
        env:
          TEST_TYPE: ${{ inputs.test_type }}
          NUM_THREADS: ${{ inputs.num_threads }}
          RAMP_TIME: ${{ inputs.ramp_time }}
          STARTUP_DELAY: ${{ inputs.startup_delay }}
          DURATION: ${{ inputs.duration }}
          THROUGHPUT: ${{ inputs.throughput }}
          THROUGHPUT_PERIOD: ${{ inputs.throughput_period }}
        run: |
          case "$TEST_TYPE" in
            "smoke")
              NUM_THREADS="${NUM_THREADS:-10}"
              RAMP_TIME="${RAMP_TIME:-1}"
              STARTUP_DELAY="${STARTUP_DELAY:-10}"
              DURATION="${DURATION:-20}"
              THROUGHPUT=${THROUGHPUT:-10}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-60}
              ;;
            "load")
              NUM_THREADS=${NUM_THREADS:-100}
              RAMP_TIME=${RAMP_TIME:-1}
              STARTUP_DELAY=${STARTUP_DELAY:-10}
              DURATION=${DURATION:-3660}
              THROUGHPUT=${THROUGHPUT:-9000}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-60}
              ;;
            "stress")
              NUM_THREADS=${NUM_THREADS:-10}
              RAMP_TIME=${RAMP_TIME:-1}
              STARTUP_DELAY=${STARTUP_DELAY:-10}
              DURATION=${DURATION:-70}
              THROUGHPUT=${THROUGHPUT:-1}
              THROUGHPUT_PERIOD=${THROUGHPUT_PERIOD:-5}
              ;;
            *)
              echo "Invalid test type: $TEST_TYPE"
              exit 1
              ;;
          esac

          echo "num_threads=$NUM_THREADS"
          echo "ramp_time=$RAMP_TIME"
          echo "startup_delay=$STARTUP_DELAY"
          echo "duration=$DURATION"
          echo "throughput/throughput_step=$THROUGHPUT"
          echo "throughput_period/step_duration=$THROUGHPUT_PERIOD"

          echo "num_threads=$NUM_THREADS" >> $GITHUB_OUTPUT
          echo "ramp_time=$RAMP_TIME" >> $GITHUB_OUTPUT
          echo "startup_delay=$STARTUP_DELAY" >> $GITHUB_OUTPUT
          echo "duration=$DURATION" >> $GITHUB_OUTPUT
          echo "throughput=$THROUGHPUT" >> $GITHUB_OUTPUT
          echo "throughput_period=$THROUGHPUT_PERIOD" >> $GITHUB_OUTPUT

      - name: "Derive Endpoint URL"
        id: derive-endpoint
        shell: bash
        env:
          WORKSPACE: ${{ inputs.workspace }}
          ENVIRONMENT: ${{ inputs.environment }}
          ENDPOINT_TYPE: ${{ inputs.endpoint_type }}
        run: |
          if [ "$ENDPOINT_TYPE" == "gateway" ]; then
            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="dos-search.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            else
              ENDPOINT="dos-search-$WORKSPACE.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            fi
          else
            declare -A APIM_ENVS
            APIM_ENVS["dev"]="internal-dev"
            APIM_ENVS["test"]="internal-qa"
            APIM_ENVS["int"]="int"

            APIM_ENV=${APIM_ENVS[$ENVIRONMENT]}

            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search/FHIR/R4"
            else
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search-$WORKSPACE/FHIR/R4"
            fi
          fi
          echo "endpoint=$ENDPOINT" >> $GITHUB_OUTPUT
          echo "apim_env=$APIM_ENV" >> $GITHUB_OUTPUT

      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}

      - name: "Start EC2 performance instance"
        id: ec2-start
        uses: ./.github/actions/ec2-start
        with:
          ec2-name-tag: "ftrs-directory-of-services-${{ inputs.environment }}-performance"

      - name: "Download performance config"
        if: inputs.download_performance_config == 'true'
        uses: ./.github/actions/ec2-download-performance-config
        with:
          environment: ${{ inputs.environment }}
          ec2-instance-id: ${{ steps.ec2-start.outputs.ec2-instance-id }}

      - name: "Generate certificates and keys"
        if: inputs.generate_certificates_and_keys == 'true'
        uses: ./.github/actions/ec2-generate-certificates-and-keys
        with:
          environment: ${{ inputs.environment }}
          ec2-instance-id: ${{ steps.ec2-start.outputs.ec2-instance-id }}

      - name: "Start CloudWatch agent"
        uses: ./.github/actions/ec2-start-cloudwatch-agent
        with:
          ec2-instance-id: ${{ steps.ec2-start.outputs.ec2-instance-id }}

      - name: "Run performance test"
        uses: ./.github/actions/run-performance-test
        with:
          ec2-instance-id: ${{ steps.ec2-start.outputs.ec2-instance-id }}
          aws-region: ${{ vars.AWS_REGION }}
          environment: ${{ inputs.environment }}
          apim-env: ${{ steps.derive-endpoint.outputs.apim_env }}
          endpoint-type: ${{ inputs.endpoint_type }}
          test-type: ${{ inputs.test_type }}
          endpoint: ${{ steps.derive-endpoint.outputs.endpoint }}
          workspace: ${{ inputs.workspace }}
          num-threads: ${{ steps.derive-params.outputs.num_threads }}
          ramp-time: ${{ steps.derive-params.outputs.ramp_time }}
          startup-delay: ${{ steps.derive-params.outputs.startup_delay }}
          duration: ${{ steps.derive-params.outputs.duration }}
          throughput: ${{ steps.derive-params.outputs.throughput }}
          throughput-period: ${{ steps.derive-params.outputs.throughput_period }}
          performance-results-bucket: ftrs-dos-${{ inputs.environment }}-account-wide-is-performance-files-bucket
          stop-instance: ${{ inputs.stop_instance }}
