name: Sandbox Deployment Pipeline

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - "*-*-*"
      - "*-*-*-*-*-*"
  workflow_dispatch: {}

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml

  validate-sandbox-tag:
    name: "Parse sandbox tag"
    needs:
      - metadata
    runs-on: ubuntu-latest
    outputs:
      sandbox_environment: ${{ steps.parse.outputs.sandbox_environment }}
      sandbox_service: ${{ steps.parse.outputs.service }}
      sandbox_version: ${{ steps.parse.outputs.version }}
      sandbox_should_deploy: ${{ steps.parse.outputs.should_deploy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Parse tag
        id: parse
        shell: bash
        env:
          GITHUB_REF_NAME: ${{ github.ref_name }}
          GITHUB_REF_TYPE: ${{ github.ref_type }}
          GITHUB_SHA: ${{ needs.metadata.outputs.commit_hash }}
        run: |
          bash .github/workflows/parse-apim-sandbox-tag.sh

  deploy-proxy-into-apim-sandbox:
    name: >-
      ${{ format(
        'Authenticate and Deploy {0} to Proxygen in {1}',
        needs.validate-sandbox-tag.outputs.sandbox_service || 'sandbox',
        needs.validate-sandbox-tag.outputs.sandbox_environment || 'API'
      ) }}
    needs:
      - metadata
      - validate-sandbox-tag
    if: needs.validate-sandbox-tag.outputs.sandbox_should_deploy == 'true'
    uses: ./.github/workflows/deploy-into-apim-sandbox.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace || 'default' }}
      ref_name: ${{ github.ref_name }}
      ref_type: ${{ github.ref_type }}
      commit_hash: ${{ github.sha }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - validate-sandbox-tag
      - deploy-proxy-into-apim-sandbox
    if: >-
      always() &&
      needs.validate-sandbox-tag.outputs.sandbox_should_deploy == 'true'
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets: inherit
