name: Sandbox Deployment Pipeline

on:
  push:
    tags:
      - "*-*-*"
      - "*-*-*-*-*-*"
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      tag:
        description: "Specify the Git tag to be used for deployment (e.g. v1.1.0-pre.1)"
        required: false
        type: string

permissions:
  contents: read

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml

  validate-sandbox-tag:
    name: "Parse sandbox tag"
    needs:
      - metadata
    runs-on: ubuntu-latest
    outputs:
      sandbox_environment: ${{ steps.parse.outputs.sandbox_environment }}
      sandbox_service: ${{ steps.parse.outputs.service }}
      sandbox_version: ${{ steps.parse.outputs.version }}
      sandbox_should_deploy: ${{ steps.parse.outputs.should_deploy }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ inputs.tag }}

      - name: Parse tag
        id: parse
        uses: ./.github/actions/parse-apim-sandbox-tag
        with:
          ref_name: ${{ github.ref_name }}
          ref_type: ${{ github.ref_type }}
          commit_sha: ${{ github.sha }}

  deploy-proxy-into-apim-sandbox:
    name: >-
      ${{ format(
        'Authenticate and Deploy {0} to Proxygen in {1}',
        needs.validate-sandbox-tag.outputs.sandbox_service || 'sandbox',
        needs.validate-sandbox-tag.outputs.sandbox_environment || 'API'
      ) }}
    needs:
      - metadata
      - validate-sandbox-tag
    if: needs.validate-sandbox-tag.outputs.sandbox_should_deploy == 'true'
    uses: ./.github/workflows/deploy-into-apim-sandbox.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace || 'default' }}
      ref_name: ${{ github.ref_name }}
      ref_type: ${{ github.ref_type }}
      commit_hash: ${{ github.sha }}
      parsed_sandbox_environment: ${{ needs.validate-sandbox-tag.outputs.sandbox_environment }}
      parsed_service: ${{ needs.validate-sandbox-tag.outputs.sandbox_service }}
      parsed_version: ${{ needs.validate-sandbox-tag.outputs.sandbox_version }}
      parsed_should_deploy: ${{ needs.validate-sandbox-tag.outputs.sandbox_should_deploy }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - validate-sandbox-tag
      - deploy-proxy-into-apim-sandbox
    if: >-
      always() &&
      needs.validate-sandbox-tag.outputs.sandbox_should_deploy == 'true'
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets: inherit
