name: Performance Test Stop Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Specify the environment to stop the performance test"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      stop-ec2-instance:
        description: "Whether to stop the EC2 instance running the performance test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

permissions:
  contents: read
  id-token: write

jobs:

  stop_performance_test:
    name: "Stop performance test and EC2 instance if required"
    timeout-minutes: 5
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Configure AWS credentials"
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
          ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
          ENVIRONMENT: ${{ inputs.environment }}
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: $ACCOUNT_ID
          aws_region: $AWS_REGION
          type: app
          environment: $ENVIRONMENT

      - name: "Lookup EC2 instance ID"
        id: lookup
        env:
          ENVIRONMENT: ${{ inputs.environment }}
        uses: ./.github/actions/ec2-lookup-instance-id
        with:
          ec2-name-tag: "ftrs-directory-of-services-$ENVIRONMENT-performance"

      - name: "Check for running performance test on EC2 instance"
        id: check-perf-test-running
        env:
          EC2_INSTANCE_ID: ${{ steps.lookup.outputs.ec2-instance-id }}
          FAIL_ON_LOCK_FILE: "true"
        uses: ./.github/actions/ec2-check-perf-test-running
        with:
          ec2-instance-id: $EC2_INSTANCE_ID
          fail-on-lock-file: $FAIL_ON_LOCK_FILE

      - name: "Stop EC2 instance"
        if: ${{ inputs.stop-ec2-instance == 'true' }}
        env:
          EC2_INSTANCE_ID: ${{ steps.lookup.outputs.ec2-instance-id }}
        uses: ./.github/actions/ec2-stop
        with:
          ec2-instance-id: $EC2_INSTANCE_ID
