name: Performance Test Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      endpoint_type:
        description: "Specify the endpoint type for the performance test"
        required: false
        default: "gateway"
        type: choice
        options:
          - gateway
          - proxy
      test_type:
        description: "The type of performance test to run"
        required: false
        default: "smoke"
        type: choice
        options:
          - smoke
          - load
          - stress
          - soak
      environment:
        description: "Specify the environment to the performance test against"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      workspace:
        description: "Workspace identifier"
        required: true
        type: string
        default: "default"
      stop_instance:
        description: "Whether to stop the EC2 instance after the test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

permissions:
  contents: read
  id-token: write

jobs:

  run_performance_test:
    name: "Run performance test"
    timeout-minutes: 15
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Derive Endpoint URL"
        id: derive-endpoint
        shell: bash
        env:
          WORKSPACE: ${{ inputs.workspace }}
          ENVIRONMENT: ${{ inputs.environment }}
          ENDPOINT_TYPE: ${{ inputs.endpoint_type }}
        run: |
          if [ "$ENDPOINT_TYPE" == "gateway" ]; then
            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="dos-search.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            else
              ENDPOINT="dos-search-$WORKSPACE.$ENVIRONMENT.ftrs.cloud.nhs.uk"
            fi
          else
            declare -A APIM_ENVS
            APIM_ENVS["dev"]="internal-dev"
            APIM_ENVS["test"]="internal-qa"
            APIM_ENVS["int"]="int"

            APIM_ENV=${APIM_ENVS[$ENVIRONMENT]}

            if [ "$WORKSPACE" ==  "default" ]; then
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search/FHIR/R4"
            else
              ENDPOINT="${APIM_ENV}.api.service.nhs.uk/dos-search-$WORKSPACE/FHIR/R4"
            fi
          fi
          echo "endpoint=$ENDPOINT" >> $GITHUB_OUTPUT

      # - name: "Configure AWS credentials"
      #   uses: ./.github/actions/configure-credentials
      #   with:
      #     aws_account_id: ${{ secrets.ACCOUNT_ID }}
      #     aws_region: ${{ vars.AWS_REGION }}
      #     type: app
      #     environment: ${{ inputs.environment }}

      # - name: "Start EC2 performance instance"
      #   id: start-ec2
      #   uses: ./.github/actions/start-ec2
      #   with:
      #     ec2-name-tag: "ftrs-directory-of-services-${{ inputs.environment }}-performance"

      # - name: "Run performance test (Gateway)"
      #   if: ${{ inputs.endpoint_type == 'gateway' }}
      #   uses: ./.github/actions/run-performance-test-gateway
      #   with:
      #     ec2-instance-id: ${{ steps.start-ec2.outputs.ec2-instance-id }}
      #     aws-region: ${{ vars.AWS_REGION }}
      #     environment: ${{ inputs.environment }}
      #     endpoint: ${{ inputs.endpoint }}
      #     performance-results-bucket: ftrs-dos-${{ inputs.environment }}-account-wide-is-performance-files-bucket

      # - name: "Run performance test (Proxy)"
      #   if: ${{ inputs.endpoint_type == 'proxy' }}
      #   uses: ./.github/actions/run-performance-test-proxy
      #   with:
      #     ec2-instance-id: ${{ steps.start-ec2.outputs.ec2-instance-id }}
      #     aws-region: ${{ vars.AWS_REGION }}
      #     environment: ${{ inputs.environment }}
      #     endpoint: ${{ inputs.endpoint }}
      #     apim-env: ${{ inputs.environment }}
      #     api-key: ${{ secrets.APIM_API_KEY }}
      #     kid: "ftrs-directory-of-services-${{ inputs.environment }}-apim-key"
      #     performance-results-bucket: ftrs-dos-${{ inputs.environment }}-account-wide-is-performance-files-bucket
