name: Application Deployment Pipeline

permissions:
  id-token: write
  contents: write

on:
  push:
    branches:
      - main
      - "task/**"
      - "dependabot/**"
    paths-ignore:
      - 'docs/**'
      - 'architecture/**'
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      tag:
        description: "Specify the tag to be used for deployment"
        required: true
        type: string
      application_tag:
        description: "Specify the application tag to be used for deployment"
        required: true
        type: string
      environment:
        description: "Deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - sandpit
          - int
          - ref
          - prod

jobs:
  metadata:
    name: "Get CI/CD metadata"
    uses: ./.github/workflows/metadata.yaml

  quality-checks:
    name: "Quality checks for ${{ needs.metadata.outputs.environment }} deployment"
    needs:
      - metadata
    uses: ./.github/workflows/quality-checks.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      type: app
      build_timestamp: ${{ needs.metadata.outputs.build_timestamp }}
      skip_dirs: "services/dos-ui,services/read-only-viewer"
    secrets: inherit

  build-services:
    name: "Build ${{ matrix.name }}"
    needs:
      - metadata
      - quality-checks
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "python"
            build_type: "package"
          - name: "crud-apis"
            build_type: "service"
          - name: "data-migration"
            build_type: "service"
          - name: "read-only-viewer"
            build_type: "service"
          - name: "etl-ods"
            build_type: "service"
          - name: "dos-search"
            build_type: "service"
          - name: "dos-ui"
            build_type: "service"
    uses: ./.github/workflows/build-project.yaml
    with:
      name: ${{ matrix.name }}
      build_type: ${{ matrix.build_type }}
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.mgmt_environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: app
    secrets: inherit

  build-sandbox-containers:
    name: "Build container ${{ matrix.name }}"
    needs:
      - metadata
      - quality-checks
    strategy:
      matrix:
        include:
          - name: "sandbox-dos-search"
    uses: ./.github/workflows/build-sandbox-images.yaml
    with:
      name: ${{ matrix.name }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  perform-code-analysis:
    name: "Perform static code analysis"
    needs:
      - metadata
      - build-services
    uses: ./.github/workflows/static-code-analysis.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
    secrets: inherit

  prepare-toggle-artifacts:
    name: "Prepare Toggle artifacts"
    needs:
      - metadata
      - perform-code-analysis
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}

      - name: "Install Python dependencies"
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml

      - name: "Generate feature flags JSON"
        env:
          ENVIRONMENT: ${{ needs.metadata.outputs.workspace == 'default' && needs.metadata.outputs.environment || 'workspace' }}
        run: |
          /bin/bash ./scripts/workflow/generate-feature-flags.sh

      - name: "Generate stack toggles"
        env:
          ENVIRONMENT: ${{ needs.metadata.outputs.workspace == 'default' && needs.metadata.outputs.environment || 'workspace' }}
        run: |
          /bin/bash ./scripts/workflow/generate-stack-toggles.sh

      - name: "Upload Toggle Artifact"
        uses: actions/upload-artifact@v6
        with:
          name: appconfig_feature_flags_${{ needs.metadata.outputs.workspace == 'default' && needs.metadata.outputs.environment || 'workspace' }}
          path: infrastructure/toggles/

  deploy-application-infrastructure:
    name: "Deploy application infrastructure to the ${{ needs.metadata.outputs.environment }} environment"
    needs:
      - metadata
      - build-services
      - prepare-toggle-artifacts
    uses: ./.github/workflows/deploy-application-infrastructure.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      tag: ${{ inputs.tag }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      workflow_timeout: 30
    secrets: inherit

  deploy-proxy-to-apim:
    name: "Deploy ${{ matrix.api_name }} API to Proxygen"
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/authenticate-and-deploy-to-apim.yaml
    strategy:
      fail-fast: false
      matrix:
        api_name:
          - dos-search
          # Add more API names here as needed
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      api_name: ${{ matrix.api_name }}
      apim_env: ${{ needs.metadata.outputs.environment == 'dev' && 'internal-dev' || needs.metadata.outputs.environment == 'test' && 'internal-qa' || needs.metadata.outputs.environment }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      AWS_REGION: ${{ vars.AWS_REGION }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  # TODO : FTRS-1899 Re-enable data migration step once ETL process is stable
  # migrate-data:
  #   name: "Run ETL process in ${{ needs.metadata.outputs.environment }}"
  #   if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
  #   concurrency:
  #     group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
  #     cancel-in-progress: false
  #   needs:
  #     - metadata
  #     - deploy-application-infrastructure
  #   uses: ./.github/workflows/migrate-data.yaml
  #   with:
  #     environment: ${{ needs.metadata.outputs.environment }}
  #     function_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-queue-populator-lambda"
  #     queue_name: "ftrs-dos-${{ needs.metadata.outputs.environment }}-data-migration-dms-events"
  #     type: app
  #   secrets: inherit

  export-dynamodb-to-s3:
    name: "Export DynamoDB tables to S3 in ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
      # - migrate-data
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      type: app
      action: export
    secrets: inherit

  restore-dynamodb-from-s3:
    name: "Restore data from S3 to DynamoDB tables in ${{ needs.metadata.outputs.workspace }}"
    if: needs.metadata.outputs.workspace != 'default' && needs.metadata.outputs.environment != 'prod'
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/manage-dynamodb-data.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      action: import
      type: app
    secrets: inherit

  deploy-open-search-indexes:
    name: "Deploy OpenSearch indexes to ${{ needs.metadata.outputs.environment }}"
    if: false && needs.check-stack-toggles.outputs.open_search_enabled == 'true'
    needs:
      - metadata
      - check-stack-toggles
      - deploy-application-infrastructure
      - restore-dynamodb-from-s3
    uses: ./.github/workflows/deploy-open-search-indexes.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      aws_region: ${{ vars.AWS_REGION }}
    secrets: inherit

  check-stack-toggles:
    name: "Check stack toggles for ${{ needs.metadata.outputs.environment }}"
    needs:
      - metadata
      - deploy-application-infrastructure
    runs-on: ubuntu-latest
    outputs:
      ui_enabled: ${{ steps.get_toggles.outputs.ui_enabled }}
      read_only_viewer_enabled: ${{ steps.get_toggles.outputs.read_only_viewer_enabled }}
      open_search_enabled: ${{ steps.get_toggles.outputs.open_search_enabled }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}
      - name: "Download AppConfig artifact"
        uses: actions/download-artifact@v6
        with:
          name: appconfig_feature_flags_${{ needs.metadata.outputs.workspace == 'default' && needs.metadata.outputs.environment || 'workspace' }}
          path: ./toggles

      - name: "Get stack toggle status from generated tfvars"
        id: get_toggles
        run: |
          pwd
          ls -ltr
          ls ./scripts/workflow
          ls ./toggles/
          /bin/bash ./scripts/workflow/get-stack-toggles.sh "./toggles/stacks.${{ needs.metadata.outputs.workspace == 'default' && needs.metadata.outputs.environment || 'workspace' }}.auto.tfvars"

  deploy-ui:
    name: "Deploy dos-ui to ${{ needs.metadata.outputs.environment }}"
    if: needs.check-stack-toggles.outputs.ui_enabled == 'true'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}-dos-ui"
      cancel-in-progress: false
    needs:
      - metadata
      - check-stack-toggles
      - deploy-application-infrastructure
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: "dos-ui"
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: "app"
    secrets: inherit

  deploy-read-only-viewer:
    name: "Deploy read-only-viewer to ${{ needs.metadata.outputs.environment }}"
    if: needs.check-stack-toggles.outputs.read_only_viewer_enabled == 'true'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-${{ needs.metadata.outputs.workspace }}-read-only-viewer"
      cancel-in-progress: false
    needs:
      - metadata
      - check-stack-toggles
      - deploy-application-infrastructure
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: "read-only-viewer"
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: "app"
    secrets: inherit

  deploy-data-migration-service:
    name: "Deploy data migration service to ${{ needs.metadata.outputs.environment }}"
    if: github.ref == 'refs/heads/main' && needs.metadata.outputs.environment != 'prod'
    concurrency:
      group: "${{ needs.metadata.outputs.environment }}-data-migration-${{ needs.metadata.outputs.workspace }}"
      cancel-in-progress: false
    needs:
      - metadata
      - deploy-application-infrastructure
    uses: ./.github/workflows/deploy-data-migration-project.yaml
    with:
      name: "data-migration"
      build_type: "service"
      python_version: ${{ needs.metadata.outputs.python_version }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      environment: ${{ needs.metadata.outputs.environment }}
      repo_name: ${{ needs.metadata.outputs.reponame }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      application_tag: ${{ inputs.application_tag || 'latest' }}
      type: "app"
    secrets: inherit

  service-automation-tests:
    name: "Run ${{ matrix.tag }} service automation tests on ${{ needs.metadata.outputs.environment }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - tag: "ftrs-pipeline"
            type: "api"
          - tag: "data-migration"
            type: "data-migration"
    needs:
      - metadata
      - deploy-application-infrastructure
      - restore-dynamodb-from-s3
      - export-dynamodb-to-s3
    if: |
      always() &&
      !cancelled() &&
      (
        needs.restore-dynamodb-from-s3.result == 'success' ||
        (
          needs.restore-dynamodb-from-s3.result == 'skipped' &&
          (needs.export-dynamodb-to-s3.result == 'success' || needs.deploy-application-infrastructure.result == 'success')
        )
      )
    uses: ./.github/workflows/service-automation-test.yaml
    with:
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: ${{ needs.metadata.outputs.workspace }}
      commit_hash: ${{ needs.metadata.outputs.commit_hash }}
      tag: ${{ inputs.tag }}
      test_tag: ${{ matrix.tag }}
      test_type: ${{ matrix.type }}
      type: app
    secrets: inherit

  generate-prerelease:
    name: "Generate prerelease tag"
    needs:
      - deploy-ui
      - deploy-read-only-viewer
      - service-automation-tests
    if: >
      always() &&
      github.event_name == 'push' &&
      github.ref == 'refs/heads/main' &&
      (needs.deploy-ui.result == 'success' || needs.deploy-ui.result == 'skipped') &&
      (needs.deploy-read-only-viewer.result == 'success' || needs.deploy-read-only-viewer.result == 'skipped') &&
      needs.service-automation-tests.result == 'success'
    uses: ./.github/workflows/generate-prerelease.yaml
    secrets: inherit

  check-pipeline-status:
    name: "Check Pipeline Status"
    needs:
      - deploy-ui
      - deploy-read-only-viewer
      - deploy-data-migration-service
      - service-automation-tests
      - export-dynamodb-to-s3
    if: always()
    uses: ./.github/workflows/pipeline-status-check.yaml

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - quality-checks
      - build-services
      - deploy-application-infrastructure
      # - migrate-data
      - export-dynamodb-to-s3
      - restore-dynamodb-from-s3
      - deploy-ui
      - deploy-read-only-viewer
      - deploy-data-migration-service
      - service-automation-tests
      - generate-prerelease
      - check-pipeline-status
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets: inherit
