name: Deploy Release Pipeline
# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      release_tag:
        description: "Specify the release tag to be used for deployment (e.g. v1.1.0)"
        required: true
        type: string
      environment:
        description: "Specify the environment to deploy the release to"
        required: true
        type: choice
        options:
          - test
          - int
          - ref
          - prod

permissions:
  contents: write
  id-token: write

jobs:
  validate-release-tag:
    name: "Check format of input release tag"
    runs-on: ubuntu-latest
    steps:
      - name: "Validate release tag"
        id: validate
        run: |
          RELEASE_TAG="${{ inputs.release_tag }}"
          if [[ ! $RELEASE_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Invalid release tag format: $RELEASE_TAG"
            exit 1
          else
            echo "Release tag format is valid: $RELEASE_TAG"
          fi

  deploy-account-wide-policies:
    name: "Deploy infrastructure policies for release candidate ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - validate-release-tag
    uses: ./.github/workflows/pipeline-deploy-policies.yaml
    with:
      environment: ${{ inputs.environment }}
      ref: ${{ inputs.release_tag }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID: ${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}
      IDP_AWS_REPORT_UPLOAD_REGION: ${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}
      IDP_AWS_REPORT_UPLOAD_ROLE_NAME: ${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}
      IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT: ${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}

  deploy-account-wide-infrastructure:
    name: "Deploy account wide infrastructure for release ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - deploy-account-wide-policies
    uses: ./.github/workflows/pipeline-deploy-account-infrastructure.yaml
    with:
      environment: ${{ inputs.environment }}
      ref: ${{ inputs.release_tag }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  prepare-toggle-artifacts:
    name: "Prepare Toggle artifacts"
    needs:
      - deploy-account-wide-infrastructure
    uses: ./.github/workflows/prepare-toggle-artifacts.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: default
      ref: ${{ inputs.release_tag }}

  check-stack-toggles:
    name: "Check stack toggles for ${{ inputs.environment }}"
    needs:
      - prepare-toggle-artifacts
    uses: ./.github/workflows/check-stack-toggles.yaml
    with:
      environment:  ${{ inputs.environment }}
      workspace: default
      ref: ${{ inputs.release_tag }}

  deploy-toggle-infrastructure:
    name: "Deploy toggle infrastructure to the ${{ inputs.environment }}environment"
    needs:
      - check-stack-toggles
    uses: ./.github/workflows/deploy-application-infrastructure.yaml
    with:
      environment:  ${{ inputs.environment }}
      workspace: default
      ref: ${{ inputs.release_tag }}
      workflow_timeout: 30
      stacks: "['app_config']"
      skip_manual_approval: "true"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  deploy-application-infrastructure:
    name: "Deploy application infrastructure for release ${{ inputs.release_tag }} to the ${{ inputs.environment }} environment"
    needs:
      - validate-release-tag
      - deploy-toggle-infrastructure
    uses: ./.github/workflows/deploy-application-infrastructure.yaml
    with:
      stacks: "['database', 'crud_apis', 'data_migration', 'read_only_viewer', 'opensearch', 'etl_ods', 'dos_search', 'is_performance', 'ui']"
      environment: ${{ inputs.environment }}
      workspace: default
      release_tag: ${{ inputs.release_tag }}
      ref: ${{ inputs.release_tag }}
      workflow_timeout: 30
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  deploy-frontend-services:
    name: "Deploy ${{ matrix.name }} to ${{ inputs.environment }}"
    concurrency:
      group: "${{ inputs.environment }}-${{ matrix.name }}"
      cancel-in-progress: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "dos-ui"
            enabled: ${{ needs.check-stack-toggles.outputs.ui_enabled }}
          - name: "read-only-viewer"
            enabled: ${{ needs.check-stack-toggles.outputs.read_only_viewer_enabled }}
    needs:
      - check-stack-toggles
      - deploy-application-infrastructure
    uses: ./.github/workflows/deploy-frontend-project.yaml
    with:
      name: ${{ matrix.name }}
      enabled: ${{ matrix.enabled }}
      build_type: "service"
      environment: ${{ inputs.environment }}
      repo_name: ${{ github.event.repository.name }}
      workspace: default
      type: "app"
      ref: ${{ inputs.release_tag }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}

  service-automation-tests:
    name: "Run ${{ matrix.tag }} service automation tests on ${{ inputs.environment }} environment"
    strategy:
      fail-fast: false
      matrix:
        include:
          - tag: "ftrs-pipeline"
            type: "api"
          - tag: "data-migration"
            type: "data-migration"
    needs:
      - deploy-application-infrastructure
    uses: ./.github/workflows/service-automation-test.yaml
    with:
      environment: ${{ inputs.environment }}
      workspace: default
      ref: ${{ inputs.release_tag }}
      test_tag: ${{ matrix.tag }}
      test_type: ${{ matrix.type }}
      type: app
      deployment_type: "release-candidate"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  check-pipeline-status:
    name: "Check Pipeline Status"
    needs:
      - validate-release-tag
      - prepare-toggle-artifacts
      - check-stack-toggles
      - deploy-toggle-infrastructure
      - deploy-account-wide-policies
      - deploy-account-wide-infrastructure
      - deploy-application-infrastructure
      - deploy-frontend-services
      - service-automation-tests
    if: always()
    uses: ./.github/workflows/pipeline-status-check.yaml

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - validate-release-tag
      - prepare-toggle-artifacts
      - check-stack-toggles
      - deploy-toggle-infrastructure
      - deploy-account-wide-policies
      - deploy-account-wide-infrastructure
      - deploy-application-infrastructure
      - check-stack-toggles
      - deploy-frontend-services
      - service-automation-tests
      - check-pipeline-status
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ inputs.environment }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
