name: Cleardown Application Infrastructure Pipeline
# Intended to run if
# actor is not the queue bot and
# the branch deleted is either
# a task branch or
# a dependabot branch
permissions:
  id-token: write
  contents: read

on:
  delete:
  repository_dispatch:
    types: [release-build-cleardown]
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      ref:
        description: "Specify the branch, tag or SHA to be used for cleardown (e.g. v1.1.0-pre.1)"
        required: false
        type: string
      environment:
        description: "Specify the environment to cleardown"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - sandpit
      workspace:
        description: "Specify the workspace to cleardown"
        required: true
        type: string

jobs:
  metadata:
    if: github.actor != 'github-merge-queue[bot]'
    name: "Get Metadata"
    uses: ./.github/workflows/metadata.yaml
    with:
      ref: ${{ inputs.ref }}

  cleardown-infrastructure:
    name: "Cleardown Infrastructure"
    needs:
      - metadata
    uses: ./.github/workflows/infrastructure-cleardown.yaml
    with:
      environment: ${{ github.event.client_payload.environment || inputs.environment || needs.metadata.outputs.environment }}
      workspace: ${{ github.event.client_payload.workspace || inputs.workspace || needs.metadata.outputs.workspace }}
      release_tag: ${{ github.event.client_payload.environment || '' }}
      workflow_timeout: 30
      type: app
      ref: ${{ inputs.ref }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  cleardown-apim-proxies:
    name: "Cleardown APIM proxies"
    needs:
      - metadata
    if: needs.metadata.outputs.environment == 'dev' && needs.metadata.outputs.workspace != 'default'
    uses: ./.github/workflows/apim-proxy-cleardown.yaml
    with:
      environment: ${{ github.event.client_payload.environment || inputs.environment || needs.metadata.outputs.environment }}
      workspace: ${{ github.event.client_payload.workspace || inputs.workspace || needs.metadata.outputs.workspace }}
      apim_env: internal-dev
      api_names: '["dos-search"]'
      ref: ${{ inputs.ref }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      PROXYGEN_URL: ${{ secrets.PROXYGEN_URL }}

  cleardown-artefacts:
    if: github.actor != 'github-actions[bot]'
    name: "Cleardown Artefacts"
    needs:
      - metadata
      - cleardown-infrastructure
    uses: ./.github/workflows/artefacts-cleardown.yaml
    with:
      environment: ${{ inputs.environment || needs.metadata.outputs.environment }}
      workspace: ${{ inputs.workspace || needs.metadata.outputs.workspace }}
      artefact_bucket_name: "${{ needs.metadata.outputs.reponame }}-${{ needs.metadata.outputs.mgmt_environment || inputs.environment }}-artefacts-bucket"
      type: app
      ref: ${{ inputs.ref }}
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - cleardown-artefacts
      - cleardown-infrastructure
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ github.event.client_payload.environment || inputs.environment || needs.metadata.outputs.environment }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
