name: Performance Test Stop Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Specify the environment to stop the performance test"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write

jobs:

  stop_performance_test:
    name: "Stop performance test"
    timeout-minutes: 5
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}

      - name: "Stop EC2 performance instance"
        id: stop-ec2
        uses: ./.github/actions/stop-ec2
        with:
          ec2-name-tag: "ftrs-directory-of-services-${{ inputs.environment }}-performance"
