name: Performance Test Stop Pipeline

# Workflow description
# Run performance test

# checkov:skip=CKV_GHA_7:Workflow dispatch inputs are required for manual triggering with environment selection
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Specify the environment to stop the performance test"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      stop-ec2-instance:
        description: "Whether to stop the EC2 instance running the performance test"
        required: false
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

permissions:
  contents: read
  id-token: write

jobs:

  stop_performance_test:
    name: "Stop performance test and EC2 instance if required"
    timeout-minutes: 5
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: app
          environment: ${{ inputs.environment }}

      - name: "Stop EC2 instance"
        if: ${{ inputs.stop-ec2-instance == 'true' }}
        uses: ./.github/actions/ec2-stop
        with:
          ec2-name-tag: "ftrs-directory-of-services-${{ inputs.environment }}-performance"
