name: Deploy Policies Infrastructure Pipeline

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - "main"
      - "task/**"
    paths:
      - "infrastructure/stacks/github_runner/**"
      - "infrastructure/stacks/account_policies/**"
  workflow_dispatch:
    # checkov:skip=CKV_GHA_7:Inputs reviewed and approved
    inputs:
      ref:
        description: "Specify the branch, tag or SHA to be used for deployment"
        required: false
        type: string
      environment:
        description: "Deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
          - sandpit
          - int
          - ref
          - prod
  workflow_call:
    inputs:
      ref:
        description: "Specify the branch, tag or SHA to be used for deployment"
        required: false
        type: string
      environment:
        description: "Deployment environment"
        required: true
        type: string
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      MGMT_ACCOUNT_ID:
        description: "Management AWS account ID for credentials"
        required: true
      IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID:
        description: "Report upload AWS account ID"
        required: false
      IDP_AWS_REPORT_UPLOAD_REGION:
        description: "Report upload AWS region"
        required: false
      IDP_AWS_REPORT_UPLOAD_ROLE_NAME:
        description: "Report upload role name"
        required: false
      IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT:
        description: "Report upload bucket endpoint"
        required: false
      SLACK_WEBHOOK_URL:
        description: "Slack webhook URL"
        required: false

jobs:
  metadata:
    name: "Get Metadata"
    uses: ./.github/workflows/metadata.yaml

  quality-checks:
    name: "Quality checks for ${{ needs.metadata.outputs.environment }} deployment"
    needs:
      - metadata
    uses: ./.github/workflows/quality-checks.yaml
    with:
      ref: ${{ inputs.ref }}
      environment: ${{ needs.metadata.outputs.environment }}
      workspace: "default"
      stacks: "['github_runner','account_policies']"
      type: account
      build_timestamp: ${{ needs.metadata.outputs.build_timestamp }}
      skip_dirs: "services/dos-ui,services/read-only-viewer"
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}
      IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID: ${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}
      IDP_AWS_REPORT_UPLOAD_REGION: ${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}
      IDP_AWS_REPORT_UPLOAD_ROLE_NAME: ${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}
      IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT: ${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}

  plan-permissions-infrastructure:
    name: "Plan ${{ matrix.name }} permissions infrastructure deployment for ${{ matrix.environment }}"
    concurrency:
      group: "${{ matrix.environment }}-default-${{ matrix.name }}-permissions-${{matrix.stacks}}"
      cancel-in-progress: false
    needs:
      - metadata
      - quality-checks
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "account"
            environment: ${{ needs.metadata.outputs.account_type }}
            stacks: "['github_runner','account_policies']"
          - name: "mgmt"
            environment: ${{ needs.metadata.outputs.mgmt_environment }}
            stacks: "['github_runner','account_policies']"
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ matrix.environment }}
      workspace: "default"
      ref: ${{ inputs.ref }}
      stacks: ${{ matrix.stacks }}
      action: plan
      type: account
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  manual-approval-permissions:
    name: "Manual approval for ${{ needs.metadata.outputs.environment }} permissions infrastructure deployment"
    if: ${{ (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/task/FTRS-386_Security_group_rule_review') && (needs.plan-permissions-infrastructure.outputs.plan_result == 'true') }}
    needs:
      - metadata
      - plan-permissions-infrastructure
    runs-on: ubuntu-latest
    environment: "${{ needs.metadata.outputs.environment }}-protected"
    steps:
      - name: Approval required
        env:
          ENVIRONMENT: ${{ needs.metadata.outputs.environment }}
        run: echo "$ENVIRONMENT permissions deployment paused for manual approval. Please approve in the Actions tab."

  apply-permissions-infrastructure:
    name: "Apply ${{ matrix.name }} permissions infrastructure deployment for ${{ matrix.environment }}"
    concurrency:
      group: "${{ matrix.environment }}-default-${{ matrix.name }}-permissions-${{matrix.stacks}}"
      cancel-in-progress: false
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/task/FTRS-386_Security_group_rule_review'
    needs:
      - metadata
      - manual-approval-permissions
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "account"
            environment: ${{ needs.metadata.outputs.account_type }}
            stacks: "['github_runner','account_policies']"
          - name: "mgmt"
            environment: ${{ needs.metadata.outputs.mgmt_environment }}
            stacks: "['github_runner','account_policies']"
    uses: ./.github/workflows/deploy-infrastructure.yaml
    with:
      environment: ${{ matrix.environment }}
      workspace: "default"
      ref: ${{ inputs.ref }}
      stacks: ${{ matrix.stacks }}
      action: apply
      type: account
    secrets:
      ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
      MGMT_ACCOUNT_ID: ${{ secrets.MGMT_ACCOUNT_ID }}

  slack-notifications:
    name: "Send Notification to Slack"
    needs:
      - metadata
      - quality-checks
      - plan-permissions-infrastructure
      - manual-approval-permissions
      - apply-permissions-infrastructure
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: ${{ needs.metadata.outputs.environment }}
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
