name: Cleardown Paused Workflow Runs Pipeline

permissions: {}
on:
  # Run daily, at 19:00.
  schedule:
    - cron: "0 19 * * *"

jobs:
  cancel_paused_runs:
    name: "Cancel paused workflow runs"
    permissions:
      actions: write
      contents: read
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6

      - name: "Install jq"
        run: sudo apt-get install -y jq

      - name: "Cancel workflow runs"
        id: "cancel_runs"
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
        shell: bash
        run: |
          /bin/bash ./scripts/workflow/cancel-paused-workflows.sh

  slack-notifications:
    needs:
      - cancel_paused_runs
    if: always()
    uses: ./.github/workflows/slack-notifications.yaml
    with:
      env: dev
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
