name: Code Quality Checks Workflow

permissions:
  id-token: write
  contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "The relevant github environment (for secrets and variables)"
        required: true
        type: string
      workspace:
        description: "The name of the workspace to validate the infrastructure against."
        required: true
        type: string
      ref:
        description: "The branch, tag or SHA to checkout"
        required: false
        type: string
      stacks:
        description: "The terraform stacks to be validated"
        required: true
        type: string
      code_directory:
        description: "Directory that holds package json for react app "
        required: false
        type: string
        default: "src/frontend"
      workflow_timeout:
        description: "Timeout duration in minutes"
        required: false
        default: 5
        type: number
      type:
        description: "The type of permissions (e.g., account, app)"
        required: true
        type: string
      build_timestamp:
        description: "The build timestamp"
        required: false
        type: string
      skip_dirs:
        description: "Comma seperated list of directories where traversal is skipped"
        required: false
        type: string
        default: ""
    secrets:
      ACCOUNT_ID:
        description: "AWS account ID for credentials"
        required: true
      MGMT_ACCOUNT_ID:
        description: "Management AWS account ID for credentials"
        required: true
      IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID:
        description: "Report upload AWS account ID"
        required: false
      IDP_AWS_REPORT_UPLOAD_REGION:
        description: "Report upload AWS region"
        required: false
      IDP_AWS_REPORT_UPLOAD_ROLE_NAME:
        description: "Report upload role name"
        required: false
      IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT:
        description: "Report upload bucket endpoint"
        required: false
      SPLUNK_COLLECTOR_URL:
        description: "The base url for splunk collector"
        required: true
      SPLUNK_HEC_ENDPOINT:
        description: "The HEC endpoint for splunk"
        required: true
      SPLUNK_HEC_TOKEN:
        description: "The HEC token for splunk"
        required: true

jobs:
  scan-secrets:
    name: "Scan secrets"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0 # Full history is needed to scan all commits
      - name: "Scan secrets"
        uses: ./.github/actions/scan-secrets

  check-file-format:
    name: "Check file format"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0 # Full history is needed to compare branches
      - name: "Check file format"
        uses: ./.github/actions/check-file-format

  check-markdown-format:
    name: "Check Markdown format"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0 # Full history is needed to compare branches
      - name: "Check Markdown format"
        uses: ./.github/actions/check-markdown-format

  check-english-usage:
    name: "Check English usage"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0 # Full history is needed to compare branches
      - name: "Check English usage"
        uses: ./.github/actions/check-english-usage

  count-lines-of-code:
    name: "Count lines of code"
    runs-on: ubuntu-latest

    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - name: "Count lines of code"
        uses: ./.github/actions/create-lines-of-code-report
        with:
          build_datetime: "${{ inputs.build_datetime }}"
          build_timestamp: "${{ inputs.build_timestamp }}"
          idp_aws_report_upload_account_id: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}"
          idp_aws_report_upload_region: "${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}"
          idp_aws_report_upload_role_name: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}"
          idp_aws_report_upload_bucket_endpoint: "${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}"

  scan-dependencies:
    name: "Scan dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Scan dependencies"
        uses: ./.github/actions/scan-dependencies
        with:
          build_datetime: "${{ inputs.build_datetime }}"
          build_timestamp: "${{ inputs.build_timestamp }}"
          idp_aws_report_upload_account_id: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ACCOUNT_ID }}"
          idp_aws_report_upload_region: "${{ secrets.IDP_AWS_REPORT_UPLOAD_REGION }}"
          idp_aws_report_upload_role_name: "${{ secrets.IDP_AWS_REPORT_UPLOAD_ROLE_NAME }}"
          idp_aws_report_upload_bucket_endpoint: "${{ secrets.IDP_AWS_REPORT_UPLOAD_BUCKET_ENDPOINT }}"

  validate-terraform:
    name: "Validate Terraform"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    environment: ${{ inputs.environment }}
    strategy:
      matrix:
        stack: ${{ fromJson(inputs.stacks) }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Configure AWS credentials"
        uses: ./.github/actions/configure-credentials
        with:
          aws_account_id: ${{ secrets.ACCOUNT_ID }}
          aws_region: ${{ vars.AWS_REGION }}
          type: ${{ inputs.type }}
          environment: ${{ inputs.environment }}

      - name: "Validate Terraform stack"
        uses: ./.github/actions/action-infrastructure-stack
        with:
          environment: ${{ inputs.environment }}
          workspace: ${{ inputs.workspace }}
          stack: ${{ matrix.stack }}
          action: validate
          mgmt_account_id: ${{ secrets.MGMT_ACCOUNT_ID }}
          splunk_collector_url: ${{ secrets.SPLUNK_COLLECTOR_URL }}
          splunk_hec_endpoint: ${{ secrets.SPLUNK_HEC_ENDPOINT }}
          splunk_hec_token: ${{ secrets.SPLUNK_HEC_TOKEN }}

  check-terraform-format:
    name: "Check Terraform format"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Check format of Terraform code"
        uses: ./.github/actions/check-format-terraform

  checkov-scan:
    name: "Checkov scan"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    permissions:
      contents: read
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Checkov scan"
        id: "checkov"
        uses: bridgecrewio/checkov-action@v12
        with:
          quiet: true
          soft_fail: false
          output_format: sarif
          output_file_path: checkov.sarif

      - name: "Publish Checkov report"
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: "checkov-${{ inputs.build_timestamp }}.sarif"
          path: "checkov.sarif/"
          if-no-files-found: ignore

  lint-service-automation-tests:
    name: "Lint service automation tests"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}

      - name: "Install asdf"
        uses: asdf-vm/actions/setup@v4.0.1
        with:
          asdf_branch: v0.15.0

      - name: "Cache asdf tools"
        id: asdf-cache
        uses: actions/cache@v5
        with:
          path: ~/.asdf
          key: asdf-${{ runner.os }}-${{ hashFiles('.tool-versions') }}

      - name: "Install tools from .tool-versions"
        if: steps.asdf-cache.outputs.cache-hit != 'true'
        uses: asdf-vm/actions/install@v4.0.1

      - name: "Install project"
        run: make install
        working-directory: "tests/service_automation"

      - name: "Run linting"
        run: make lint
        working-directory: "tests/service_automation"

  trivy-scan:
    name: "Trivy scan"
    runs-on: ubuntu-latest
    timeout-minutes: ${{ inputs.workflow_timeout }}
    permissions:
      contents: read
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Trivy scan"
        id: "trivy"
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          format: "sarif"
          output: "trivy.sarif"
          scanners: vuln,misconfig
          severity: 'CRITICAL,HIGH,MEDIUM'
          limit-severities-for-sarif: true
          trivyignores: 'services/.trivyignore'
          exit-code: 1
          skip-dirs: ${{ inputs.skip_dirs }}

      - name: "Publish Trivy report"
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: "trivy-${{ inputs.build_timestamp }}.sarif"
          path: "trivy.sarif"
          if-no-files-found: ignore
