name: Slack Notification

permissions: {}
on:
  workflow_call:
    inputs:
        env:
          description: "Pass environment for Slack notification channel"
          required: true
          type: string
        organisation:
          description: "Organisation name"
          type: string
          default: 'NHSDigital'
    secrets:
      SLACK_WEBHOOK_URL:
        description: "Slack webhook URL"
        required: true

jobs:
  slack-notifications:
    name: "Slack Notification"
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
    - name: "Debug Info"
      env:
        WORKFLOW_RUN_JSON: ${{ toJson(github.event.workflow_run) }}
        JOB_STATUS: ${{ job.status }}
        EVENT_NAME: ${{ github.event_name }}
        WORKFLOW_CONCLUSION: ${{ github.event.workflow_run.conclusion }}
        ACTOR: ${{ github.actor }}
        PR_URL: ${{ github.event.pull_request.html_url || github.event.head_commit.url }}
      run: |
        echo "Job Status: $JOB_STATUS"
        echo "GitHub Event: $EVENT_NAME"
        echo "Workflow Run: $WORKFLOW_RUN_JSON"
        echo "Workflow Status: $WORKFLOW_CONCLUSION"
        echo "GitHub Actor: $ACTOR"
        echo "Pull Request URL: $PR_URL"

    - uses: martialonline/workflow-status@fe13c6a4716673e224038aa1b02387352fb35e13 # v4
      id: check

    - name: "Echo result of pipeline if success"
      if: ${{ steps.check.outputs.status == 'success' }}
      env:
        RUN_ID: ${{ github.run_id }}
      run: |
        echo "Workflow concluded successfully."
        echo "Run ID: $RUN_ID"

    - name: "Echo result of pipeline if failure"
      if: ${{ steps.check.outputs.status == 'failure' }}
      env:
        RUN_ID: ${{ github.run_id }}
      run: |
        echo "Workflow failed."
        echo "Run ID: $RUN_ID"

    - name: "Send custom JSON data to Slack workflow on failure"
      uses: slackapi/slack-github-action@37ebaef184d7626c5f204ab8d3baff4262dd30f0 # v2.1.1
      if: ${{ steps.check.outputs.status == 'failure' }}
      with:
        payload: |
            {
            "text": "GitHub Action *${{ github.workflow }}* result: ${{ steps.check.outputs.status }}\nhttps://github.com/${{ inputs.organisation }}/${{ github.event.repository.name }}/actions/runs/${{ github.run_id }} \nPushed by: @${{ github.actor }}",
            "blocks": [
                {
                "type": "section",
                "text": {
                    "type": "mrkdwn",
                    "text": "GitHub Action *${{ github.workflow }}* result: ${{ steps.check.outputs.status }}\nhttps://github.com/${{ inputs.organisation }}/${{ github.event.repository.name }}/actions/runs/${{ github.run_id }}\nPushed by: @${{ github.actor }}"
                }
                }
            ]
            }
        webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
        webhook-type: incoming-webhook
