name: "Perform SonarCloud static analysis"
permissions:
      id-token: write
      contents: read
on:
  workflow_call:
    inputs:
      environment:
        description: "The deployment environment"
        required: true
        type: string
      tag:
        description: "The Git tag to checkout"
        required: false
        type: string

jobs:
  static-analysis:
    name: "Perform SonarCloud static analysis"
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.tag }}

      - name: "Perform static analysis"
        uses: ./.github/actions/perform-static-analysis
        with:
          sonar_organisation_key: ${{ vars.SONAR_ORGANISATION_KEY }}
          sonar_project_key: ${{ vars.SONAR_PROJECT_KEY }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
