name: "Perform SonarCloud static analysis"
permissions: {}
on:
  workflow_call:
    inputs:
      environment:
        description: "The deployment environment"
        required: true
        type: string
      ref:
        description: "The branch, tag or SHA to checkout"
        required: false
        type: string
    secrets:
      SONAR_TOKEN:
        description: "SonarCloud token"
        required: true

jobs:
  static-analysis:
    name: "Perform SonarCloud static analysis"
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: "Checkout code"
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - name: "Perform static analysis"
        uses: ./.github/actions/perform-static-analysis
        with:
          sonar_organisation_key: ${{ vars.SONAR_ORGANISATION_KEY }}
          sonar_project_key: ${{ vars.SONAR_PROJECT_KEY }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
